[2017-04-26 11:37] simonagren opened #1 "http service undefined"
Hey,

Tried your sample, and even updated to latest adal-angular-4.

In home.component i try to do a
`this.http.get('apiuri...')`

But the private http: Adal4HTTPService is undefined.

Do you know why?

[2017-04-26 15:17] mavrj commented on #1
The sample uses the factory provider pattern, but when you look carefully to the Adal4HTTPService code you will see that the factory never return any value.

adal-angular4 / src / adal4-http.service.ts (lines 24 to 26)
`static factory(http: Http, service: Adal4Service) { `
`    new Adal4HTTPService(http, service);`
` } `

The code should be changed the code to:

`static factory(http: Http, service

[2017-04-27 09:23] simonagren commented on #1
Yeah, it helped!
Thanks :)

[2017-04-29 15:15] benbaran commented on #1
This has been fixed in version 0.1.4. Thank you for the feedback!

[2017-04-30 16:09] #1 closed

[2017-05-03 21:20] ljayaprakash opened #2 "JWT token not included in call to Web API"
Hello benbaran,
I'm trying to access web api using http call, for some reason request is not including authentication value in headers section (jwt token received from Azure in my case). Web API returning 401 - unauthorized.
Do I need to save jwt token to local storage after authentication?
Do you have any sample code on this?

Request:
    getLocation(): Observable<any> {
        return this.http

[2017-05-04 14:28] benbaran commented on #2
You would want to use the Adal4HTTPService included. I have not tested it to be honest. Otherwise, you should be able to retrieve the token from the Adal4Service and send it in the request headers with a RequestOptions object.

[2017-05-04 15:27] ljayaprakash commented on #2
I did try passing header in RequestOptions object but no luck.
After further investigation, looks like JWT token missing some values.
"appid" - <<no entry for this property>> (It should be client id from app registration)
"aud" - <<app_id>> (this should be _http://someone.onmicrosoft.com/CortanaWebAPI_ instead of app_id)

[2017-05-10 08:11] jayeshvg opened #3 "How do we use it in systemjs?"
No umd file. Using index.js file gives adal-angular4/adal4-user not found.
Similarly adal-angular4/adal4.service not found, and also adal4-http.service not found.

I have  added  'adal-angular4': {
                defaultExtension: 'js'
            }, to systemjs.

 'adal-angular4': 'npm:adal-angular4',
            'adal-angular': 'npm:adal-angular',

in map folder

[2017-05-24 14:04] NelsonLamprecht opened #4 "Question:"
This works great..almost..
Any idea how to get the page to clear the IDToken parameters after it gets authenticated>?

[2017-06-13 17:05] saltfoundry opened #5 "Infinite loop - Internet Explorer"
Successful authentication with Internet Explorer is resulting in an infinite loop between the redirect_URI and Azure AD. Is anyone else seeing this?

[2017-06-16 07:43] BartNetJS commented on #2
I also added specific the RequestOptions, but created also an empty Header object in the RequestOptions object, and things started to work.
The authorization header was added

[2017-07-20 17:03] benbaran commented on #4
This is now done by default in the 1.1.1 version.

[2017-07-20 17:03] #4 closed

[2017-07-25 15:57] LastTribunal opened #6 "."

[2017-07-28 19:25] egalitarian11 commented on #3
@jayeshvg Also struggling with this. Did you have any luck?

[2017-07-31 23:22] LastTribunal commented on #6
The problem is that AuthenticationContext.prototype._renewToken is not implemented in your library

[2017-08-04 18:23] LastTribunal commented on #5
I did see it once in Edge

[2017-08-04 18:26] LastTribunal opened #7 "ng build --prod error"

[2017-08-07 02:03] LastTribunal commented on #6
In Implicit Flow, when the token expires, it is supposed to be renewed automatically by ADAl upon a HTTP call.  This does not seem happening in your library. And so the request is made without the token in the HTTP headers

[2017-08-07 02:04] LastTribunal commented on #6
In Implicit Flow, when the token expires, it is supposed to be renewed automatically by ADAl upon a HTTP call.  This does not seem happening in your library. And so the request is made without the token in the HTTP headers

[2017-08-07 14:15] briandunz commented on #7
@LastTribunal I think this is caused by the adal-angular4 having its own node_modules folder, causing a conflict.  Through some googling, I got around this by pointing all angular references to one place in the tsconfig.json file in the root of the project.

[code]

[2017-08-07 15:16] LastTribunal commented on #7
So the fix should be that this library should not be pullable with and depend on local node_modules

[2017-08-08 21:07] LastTribunal opened #8 "This benbaran/adal-angular4 is a big POS"
I wasted way too much time screwing around with this POS library.
All i had to do is build my own simple wrapper  around the original adal.js, and everything works instantly!

[2017-08-08 21:08] LastTribunal commented on #8
https://blogs.msdn.microsoft.com/premier_developer/2017/04/26/using-adal-with-angular2/

[2017-08-08 22:06] #8 closed

[2017-08-08 22:40] #7 closed

[2017-08-08 22:40] #6 closed

[2017-08-09 16:22] aciccarello opened #9 "Relationship to sureshahal/angular2-adal"
Hello, I'm evaluating adal libraries for Angular and it looks like this was derived from [sureshchahal/angular2-adal](https://github.com/sureshchahal/angular2-adal). Do you have a plan for including updates from that repo? Also, any reason that this isn't explicitly mentioned?

[2017-08-09 19:17] LastTribunal commented on #9
If you don't want to have problems, stay away from this POS "library"

[2017-08-09 20:28] aciccarello commented on #9
@LastTribunal I found your comments, including #8, excessively negative. You may be frustrated by your experience and may be correct that it is easier to create your own wrapper. If you have specific concerns it would helpful if you noted those as appropriate. However, I respect that the author has put his work out publicly and per the [MIT license](https://github.com/benbaran/adal-angular4/blob/m

[2017-08-09 21:07] LastTribunal commented on #9
It's better to not write any code, than to write garbage code, in the arena of public consumption.  just because some one put work into something, it doesn't warrant a praise. You should be thankful I warned you about this POS,   Go ahead and use it..it suits you well

[2017-08-18 08:49] joakimlundvall opened #10 "Problems when building with -prod"
Lots of errors when building with -prod, probably regarding AOT and stricter parsing. is there a solution for this?

/joakim

[2017-09-06 12:41] jayeshvg commented on #3
Following worked for me:

In map:
[code]

In Packages:

[code]

npm is common path for node_modules files

[2017-09-07 11:46] joakimlundvall opened #11 "Azure B2C AD"
Hi Ben,

I had some troubles making this work with Azure B2C AD, with this change to the config all works as expected. Especially the logout was troubling.

[code]

[2017-09-07 12:58] woodm1 opened #12 "Cannot find module 'adal-angular'"
Getting the following error on ng serve:

ERROR in C:/Users/Matt/Source/Repos/internal/node_modules/adal-angular4/adal4.service.d.ts (3,22): Cannot find module 'adal-angular'.
ERROR in C:/Users/Matt/Source/Repos/internal/node_modules/adal-angular4/node_modules//src/backends/browser_jsonp.d.ts (1,33): Initializers are not allowed in ambient contexts.
ERROR in C:/Users/Matt/Source/Repos/internal/nod

[2017-09-14 19:31] benbaran commented on #9
@aciccarello - I adapted this from several sources as there was not a working library at the time for Angular 4. You are probably correct that it would be easier to implement your own library. Mostly I wanted to provide a working example, as well as a tutorial on creating a NPM package - neither of which I could find at them time.

[2017-09-14 19:33] benbaran commented on #11
Thank you for your feedback. I will incorporate into the next version when I have time to test.

[2017-09-14 21:32] aciccarello commented on #9
@benbaran Thanks for the reply and for sharing your work. I'll close the issue then.

[2017-09-14 21:32] #9 closed

[2017-09-22 06:48] wzhgba commented on #5
Try adding this into configuration object to see if helps (default session storage which has different behavior between browsers):
cacheLocation: 'localStorage'

[2017-09-22 13:15] shashidharshridhar opened #13 "Unable to fetch Roles defined in Application Manifest"
Hi Ben,
         I am using adal-angular4 for authenticating my Application against Azure AD. I am able to succeed in Authentication. However when I tried to Authorize my Angular Components using the Roles defined in Azure Manifest I am not able to get the same. Can you please guide me how can I resolve the issue.
      Please find the data present in the UserInfo below.
{
    "aud": "xxxxxxxxxxxx

[2017-09-25 09:27] shashidharshridhar commented on #13
Hi Ben,
         I was able to resolve the issue. I had to create groups and assign roles. Hence closing the bug.
Thanks,
Shashi

[2017-09-25 09:27] #13 closed

[2017-09-26 16:15] faheemfactor opened #14 "Loop back"
Hi ,

Your library works very fine.
If end user haven`t specified the return url. Library finds the current page url and  assign as return and logout url.
However for application registered in the Azure Directory requires redirect url  and which incorporated in jwt.
PROBLEM
if application base URL : http://localhost:4200/  and end user got unauthenticated for any reason while at specific page of a

[2017-09-26 22:12] MarkDHarris opened #15 "Adal4Interceptor Example"
I tried to use the Adal4HTTPService but I get 401's on my service calls and I think that is because it is not (by default) storing the JWT token in the header of the request.

So, I tried to use the Adal4Interceptor but I need additional help configuring/using it.  (Or maybe an example added to this repository or the example one at https://github.com/benbaran/adal-angular4-example one would be gre

[2017-09-27 16:40] MarkDHarris commented on #15
To follow up and answer my own question, I think my mistake was in using the Http Service rather than HttpClient.  I no longer have this issue after replacing all of my calls with an HttpClient object.

[2017-09-27 16:40] #15 closed

[2017-10-02 16:09] BartNetJS opened #16 "page reload when removing hash from uri in handlewindowcallback"
in the handlewindowcallback(adal4.service.ts) the hash with token is removed from the uri (as expected).
But my page (or token renew in iframe) is reloaded after

my basic route is

i'm using PathLocationStrategy (the default)

any idea?

[2017-10-03 14:58] charlesrey commented on #16
I have the same issue with the same configuration (root route redirect to home) and wiil be glad to find a solution.

Thanks.

[2017-10-05 09:57] BartNetJS commented on #16
The following did the trick. Changing the history state, so the browser doesn't see the url change.
Another interesting side effect is, when you go back via the browser, you don't see the previous url with the hash, but the real previous route

in adal4.service.js(handleWindowCallback) I changed the remove hash logic with:

@charlesrey can you confirm if this also work in your code.
If so, I will

[2017-10-20 01:29] jonbran opened #17 "Adal4-http.service always appends the Bearer token header"
The Bearer token is always appended even if the Bearer token header already exists. This can cause the first request to succeed but subsequent requests to fail.

Line 158 (i think) could be changed from
options1.headers.append('Authorization', 'Bearer ' + token);
To
options1.headers.set('Authorization', 'Bearer ' + token);

That resolved the issue for me but it will break if I ever do an update so

[2017-10-25 21:03] mitch-b commented on #16
@BartNetJS - I found this issue after I had already made the same change myself ... now I checked to see if anyone else had the need for better handling after callback.

I have had good behavior with this change. Go for the pull request!

[2017-11-02 01:32] eKipod opened #18 "handleWindowCallback() doesn't renew id_token"
In `handleWindowCallback`, if renew succeeds for anything but `'access_token'`, nothing happens (leaving e.g. `acquireToken()` hanging).
Should there be a case for handling `'id_token'`?
Should there be a catch-all error callback invocation?

[2017-11-07 13:44] joakimja opened #19 "missing adal.Config"
I liked your project and see the goodness in it.
 But I needed to change in the adal4.service.d.ts
from "adal.Config" to "any". And then I got it to work.

The issue i got was
adal-angular4/adal4.service.d.ts (48,27): Namespace ''*'' has no exported member 'Config'.

I use
adal-angular -version 1.0.15
adal-angular4 -verison 1.1.10

`constructor();
    /**
     *
     *
     * @param {adal.Config}

[2017-11-08 11:48] Hopchenko opened #20 "Http is deprecated"
Hello, could you please add HttpClient support to your awesome lib?
Because for now http is deprecated in angular 5

[2017-11-08 12:43] stas-kh commented on #20
Yes, we are really waiting for this change.
It will also allow to upgrade the project to Angular 5

[2017-11-09 05:48] karthik-15 opened #21 "NodeInvocationException: Prerendering failed because of error: ReferenceError: window is not defined"
Hi Everyone,

Created a basic application which uses this package of version 1.1.10.

I am getting an error after running the application called as "NodeInvocationException: Prerendering failed because of error: ReferenceError: window is not defined".

I am using web pack. The error which i am getting is in the file "main-server.js". Below is the code which is causing the issue.

[code]

After rem

[2017-11-10 06:23] IceBunnyMeh opened #22 "token for graph api"
I'm not able to use the token to access the Microsoft graph API. How to acquire token so that I can access the graph API. Please help me here with some examples.

[2017-11-10 21:46] alan-g-chen commented on #18
I ran into the same issue, and have submitted a PR to fix it.

[2017-11-14 03:49] aditya-padhi-kbl opened #24 "Application Refresh Issue"
Hi Team,
This is nice wrapper & we are using this in our application.  However, on successful authentication it is causing the application to refresh a number of times.

If there are any api calls associated then it gets called multiple times as well.
Same behavior is seen in IE as well.
Can you please let me know what could be the issue?

[2017-11-14 09:19] cannehag commented on #22
You need to use the aquireToken method AFTER you have done the authentication. To that method you pass the resource you want a token for. For example "https://graph.microsoft.com". Then you will receive a new token that you can use for graph queries.
I'm using this approach and it works well for me.
Do note that you need to add the Graph API to the Azure AD app, and give admin consent.

[2017-11-14 09:21] cannehag commented on #24
I solved this by looking if the window.location.href contains #id_token or #access_token, then I don't perform the other api calls.

Pseudo code ahead:
if(service.isAuthenticated && window.location.href not contains #id_token or #access_token)
{
  //do api calls
}

[2017-11-14 09:22] cannehag opened #25 "Angular 5 ?"
Are there any plans for support angular 5 ? (perhaps in a new project)

[2017-11-14 15:50] aditya-padhi-kbl commented on #24
Thank-you @cannehag.  I will try this & share my findings

[2017-11-15 04:26] aditya-padhi-kbl commented on #24
Hi @cannehag ,
I have injected Adal4Service in my constructor as :- constructor(private service: Adal4Service)
My source code:-
this.service.handleWindowCallback();
if (!this.service.userInfo.authenticated) {
			this.service.login();
		}
		if (this.service.userInfo.authenticated && window.location.hash.indexOf('#') === -1) {
			this.loaderMessage.showLoader = true;
			this.messageService.LoaderMes

[2017-11-15 05:40] cannehag commented on #24
As you say, adal4service is removing the hash but that means that it will also do a redirect.
I have solved it like this in the app.component constructor:

`this.authService.init();
this.authService.handleCallback();

if (this.authService.isAuthenticated && !this.authService.isInCallbackRedirectMode) {
   this.initUserSubscription = this.usersService.initialize().subscribe(); //this is an another

[2017-11-15 11:28] aditya-padhi-kbl commented on #24
@cannehag
Just a short query. Are you using HashLocationStrategy in application. Because the isInCallbackRedirectMode() will surely work, however I cannot stop page to refresh during this.service.handleCallback()'s implementation to clean up the url.

[2017-11-15 11:35] cannehag commented on #24
No, not using that.
The handleCallback() SHOULD refresh the page, once. Are you saying it shouldn't or that it gets stuck in a loop ?

[2017-11-15 12:01] aditya-padhi-kbl commented on #24
handleCallback() removes the api_token & access_token.  But yes it reloads the application a number of times.  (as I cam see main.bundle.js etc. in the console a number of times).  After refresh the application is working properly. But when I add a breakpoint and call after sometime say 5 minutes then it refreshes the application again. (I am using angular-cli for my web application)

[2017-11-16 07:21] cannehag commented on #24
Ok, it seems that you are aquiring tokens from time to time and that will cause a redirect. I'm getting my tokens initially, and then store them, thus not aquiring tokens on click events and such.

[2017-11-17 12:01] aditya-padhi-kbl commented on #24
@cannehag
Yes, in our application we do the authentication using ADFS.  Then for every rest call (api call) we are using acquireToken() method exposed by Angular4.  And that caused the application to refresh.  On further investigation the api calls are getting cancelled hence it refreshes the application.  The approach you suggested may work, however we may still need to use acquireToken() method

[2017-11-20 20:22] TimeTravelersHackedMe opened #26 "ng build --prod Failing"
Hey, I'm using the latest version of ng and I'm getting this error when I try to build with the --prod flag:

`ERROR in Error: Error encountered resolving symbol values statically. Calling function 'ɵmakeDecorator', function calls are not supported. Consider replacing the function or lambda with a reference to an exported function, resolving symbol Injectable in C:/Source/Miscellaneous Web Sites/M

[2017-11-23 09:10] Brototype opened #27 "Is this still maintained?"
I see some issues related to angular 5 without response. If this repo is no longer maintained and there are no plans to migrate to angular 5 maybe we should fork it. Anyone interested in this?

[2017-11-28 10:04] Codefearingguy commented on #26
Am also stuck with the same thing.

[2017-11-28 16:47] Codefearingguy commented on #26
Found a work around. Delete the local "node_modules" folder present inside the "node_modules/adal-angular4" folder.

[2017-11-28 16:58] Codefearingguy commented on #26
Made 2 important changes to the package node_modules folder and things are working now.

1. Remove the local "node_modules" folder present inside the "node_modules/adal-angular4".
2. Inside "node_modules/adal-angular4" folder adal4.service.js replace:
var rxjs_1 = require("rxjs");
with
var rxjs_1 = require("rxjs/Observable");

[2017-11-30 14:42] pknetsfd commented on #26
@Codefearingguy Even I am trying to setup adal in angular 5 and going through the similar errors. After fixing the above 2, I got another error.

ERROR Error: Uncaught (in promise): TypeError: rxjs_1.Observable.bindCallback is not a function
TypeError: rxjs_1.Observable.bindCallback is not a function
    at Adal4Service.acquireToken (webpack-internal:///../../../../adal-angular4/adal4.service.js:1

[2017-12-01 12:59] Codefearingguy commented on #25
Looks like there is no ADAL wrapper available so far which supports angular5.

[2017-12-07 10:44] karuppasamy20 commented on #7
same issue but is not solve..

[2017-12-07 10:49] karuppasamy20 commented on #26
same issue on mine...
please any solution for that

[2017-12-07 18:12] almatty commented on #27
I'd be interested in a fork. This was working nicely for Angular 4, and I've love to be able to use it in a new project.

[2017-12-11 10:27] riteshmeher opened #28 "app is re-loading every time adal renews a token"
we implemented this library in our app. However our app is getting reloaded during any http request. It is calling the acquiretoken method which is refreshing the entire app(js,css). This makes our app very slow.
any idea how to solve this in angular 2/4?
I can see there is a FAQ in https://github.com/AzureAD/azure-activedirectory-library-for-js/wiki/FAQs

[2017-12-20 19:17] bradsavon commented on #27
https://github.com/grumar/adal-angular5

[2017-12-21 10:44] LoulG commented on #21
Hi, same here. Did you find a workaround ?

[2018-01-05 22:12] holwerda commented on #22
Do you have an example of this working for you?

I can see the access token if I look in chrome at the network tab and in the response header, but in this library it returns nothing.

I am doing something like this after being successfully authenticated:

[code]

![2018-01-05_15-05-17](https://user-images.githubusercontent.com/1644495/34630749-aa3a61a4-f22a-11e7-8785-6d0a6cbf6055.jpg)

[2018-01-08 08:36] cannehag commented on #22
You are doing it wrong, you are subscribing to an Observable and then you need to console.log inside the subscribe because you are doing an async call.

`this.adalService.acquireToken("https://graph.microsoft.com").subscribe(token =>
{
   console.log(token);
});`

[2018-01-08 14:51] holwerda commented on #22
I have a stack overflow question that is similar that I posted after my question here.  I do have it as above where the console.log is inside the subscribe, but it returns a 'Token renewal operation failed due to timeout' error.

[Adal Angular4 - AcquireToken call is returning 'Token renewal operation failed due to timeout error'
](https://stackoverflow.com/questions/48143678/adal-angular4-acquire

[2018-01-09 14:32] anz1e commented on #21
Hi, I´m running into the same issue(using Angular Universal) and building on a .Net Core SPA template, do you have a workaround for this?

[2018-01-09 20:59] subhankar99 commented on #26
Use https://www.npmjs.com/package/adal-angular4plus -- This is compatible with latest version of angular and ng CLI

[2018-01-09 21:00] subhankar99 commented on #25
Use https://www.npmjs.com/package/adal-angular4plus -- This is compatible with latest version of angular 5.0.0 and ng CLI

[2018-01-09 21:03] subhankar99 commented on #17
Use https://www.npmjs.com/package/adal-angular4plus -- This is compatible with latest version of angular 5.0.0 and ng CLI. Also your reported bug is fixed in this

[2018-01-10 11:34] karthik-15 commented on #21
Hi,

I tried different packages but none of it worked. Later i followed the below article.

https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-protocols-oauth-code

I am preparing the login and logout urls and redirecting to it from the application to get the token.

Hope this helps.

[2018-01-10 12:32] Codefearingguy commented on #25
i have used ng2-adal, I got it working with Angular5 with AOT

[2018-01-11 13:47] skorunka commented on #26
@pknetsfd  Adding this line in a ts file which is using the library, solved the problem `import 'rxjs/add/observable/bindCallback';` Im not saying it is a right solution :(. The library just does not support latest rxJs and ng5

[2018-01-11 15:40] skorunka commented on #26
@subhankar99 `adal-angular4plus` gices me this error:

[code]

Any idea what I'm missing? Thank you.

[2018-01-11 16:41] subhankar99 commented on #26
@skorunka..not sure. Plz upload your code somewhere so that I can check

[2018-01-12 00:40] skorunka commented on #26
@subhankar99 Hi, unfortunately I cannot, it is a company code. I don't have a time to create a repro git repository at the moment :(.

[2018-01-12 13:28] subhankar99 commented on #26
Ok. I am also using this package in my prod and it builds correctly.

On 12-Jan-2018 6:10 AM, "Frantisek Skorunka" <notifications@github.com>
wrote:

[2018-01-13 22:34] kphung138 opened #29 "handleWindowCallback callback not initialising _newStates v1.1.10"
Hi

I've raised an issue in Adal.js  [https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/698#issuecomment-357325742] and it highlighted to me where the issue might be:

I'm currently using adal-angular4 v1.1.10 which uses Adal.js 1.0.16, if I uses v1.0.14 it works.

In Adal.js 1.0.16 there is some logic in to get the _renewStates from the iframe window after the callback. Looks

[2018-01-15 14:33] davemcmanus commented on #20
Are there any plans to update to HttpClient?

[2018-01-15 17:35] davemcmanus opened #30 "Losing query params when login redirect completes"
Whenever I visit a url on my site that has query params, I lose the params when the Azure login page returns back to my site after a successful login.

I can see the properly URL encoded value in the "redirectUri" param to the Azure login page, but the query params in my URL are gone when the Azure login page redirects.

Any thoughts?

[2018-01-15 20:40] ggit2018 commented on #26
ERROR in Metadata version mismatch for module C:/cs/CSM/node_modules/adal-angular4plus/node_modules/@angular/core/core.d.ts, found version 4, expected 3.  I am using Visual Studio 2017 along with ASP.net core 2.0 for creating an authentication application using angular4 and adal-angular4plus.  I am able to build and run the program without any issues.

The error comes only when I try to 'Publish'

[2018-01-16 04:09] ggit2018 opened #31 "ERROR in Metadata version mismatch for module C:/cs/CSM/node_modules/adal-angular4plus/node_modules//core.d.ts, found version 4, expected 3. I am using Visual Studio 2017 along with ASP.net core 2.0 for creating an authentication application using angular4 and adal-angular4plus. I am able to build and run the program without any issues. The error comes only when I try to 'Publish' using VS 2017."
ERROR in Metadata version mismatch for module C:/cs/CSM/node_modules/adal-angular4plus/node_modules//core.d.ts, found version 4, expected 3. I am using Visual Studio 2017 along with ASP.net core 2.0 for creating an authentication application using angular4 and adal-angular4plus. I am able to build and run the program without any issues.

The error comes only when I try to 'Publish' using VS 2017.

[2018-02-20 19:26] kov-hans opened #32 "I can't get acquireToken to work."
When acquireToken is called, the renew state is stored in the context object in the AdalService instance, but when the token is received and I call handleWindowCallback the context in the AdalService doesn't contain any renew states. If I call acquireToken again I can see that the previous renew state is still in the context. My conclusion is that for some reason there are different instances of t

[2018-02-21 10:11] Lecha1 commented on #26
subhankar99 again you man with your plus? I already told you in details where is the problem. Please stop wasting peoples time with some useless stuff. It works in my what is that for an answer first of all?

[2018-02-27 12:42] mariiaBilyk commented on #32
I have exactly the same issue with adal-angular4 v 1.1.11.
We haven't updated our sources since December 2017, seems like you have some regression.
I can retrieve an access token for resource manually, using /common/oauth2/v2.0/token endpoint.
Why wouldn't you update this library to work with the latest Azure AD endpoints?
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-dire

[2018-02-28 09:25] MarkusFalgenhauer commented on #32
The issue is definetly a problem with adal.js 1.0.16 as mentioned from kov-hans.
With adal-angular4 v 1.1.11 and adal.js 1.0.16 the access_token is not stored
with adal.js 1.0.15 it works fine.

Is there a possibility to fix that in adal-angular4?

[2018-02-28 09:52] kov-hans commented on #32
I have also asked for help from the adal.js team to locate the problem.
https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/718

[2018-03-08 22:04] #27 closed

[2018-03-08 22:04] benbaran commented on #2
This has been fixed in the v2 library.

[2018-03-08 22:04] #2 closed

[2018-03-08 22:06] benbaran commented on #11
For B2C, I would suggest you use the msal-angular library.

[2018-03-08 22:06] #11 closed

[2018-03-08 22:07] benbaran commented on #26
This has been fixed in the v2 library.

[2018-03-08 22:07] #26 closed

[2018-03-08 22:08] benbaran commented on #12
This has been fixed in the v2 library.

[2018-03-08 22:08] #12 closed

[2018-03-09 08:43] joakimlundvall commented on #11
Thank you Ben,

I will look into it.

Joakim Lundvall
Verksamhetskonsult
[logo2016web]<http://traventus.se/>

Direkt: 010-410 46 12
E-post: joakim.lundvall@traventus.se<mailto:joakim.lundvall@traventus.se>

Växel 010-410 46 00 / Support 010-410 46 01
Yxhammarsgatan 8-10, 50431 Borås

Visma Business<http://www.traventus.se/vara-losningar/visma-business/> – Visma Administration<http://www.traventus.

[2018-03-14 13:50] petinho opened #35 "Username always undefined"
After login I'm receiving the username as undefined.

Debugging I've seen that the variable is wrong in the updateDataFromCache function:
`
if (user) {
            this.user.username = user.username;
            this.user.profile = user.profile;
            this.user.token = token;
            this.user.error = this.context.getLoginError();
        }`
I've changed it to (notice capital N):

`this.

[2018-03-16 01:18] Milad0207 opened #36 "On handlewindowcallback not applying idtoken being sent"
So just to clarify this was working 1-2 weeks ago and I updated version to 2.0.14 and caused another issue that broken whole system so reverted back to 2.0.13 and now my authentication will not get applied after my idtoken is returned with the url and handlewindowcallback is called but the service doesn't see the token or still marked as not authenticated.  I do see the service trying to deseriali

[2018-03-17 17:38] leonixyz commented on #22
Hi, the newest version should have fixed this issue

[2018-03-17 17:44] leonixyz commented on #14
Hi, have you tried using a wildcard reply url in Azure portal?

http://paulryan.com.au/2016/azure-ad-app-wildcard-reply-url/

[2018-03-17 17:45] leonixyz commented on #25
I am currently using this library with angular5 in a number of projects, it works fine

[2018-03-19 19:31] JoshSchoen commented on #32
For what it's worth I found this repo https://github.com/AlexeyBoiko/angular5-office365-adal-example  works with angular 5.2.0 acquireToken() works as expected. For me it removes the need for this library and seems to be a good start to working with adal.js directly.

[2018-03-20 22:40] largeDachshund commented on #36
i'm trying to mirror the adal-angular4-example.  In the toolbar's ngOnInit() - this._adalService.handleWindowCallback(); the context is null in the service.

[2018-03-21 14:11] Milad0207 commented on #36
so when I ran into this issue I ended up switching to Adal-angular5 instead of adal-angular4 but they both ran into the same issue, then I was able to fix this issue by reverting back to angular 5.24, because before it auto upgraded me to 5.2.8 which was the cause of this bug, so I recommend you downgrade your angular version down as I did have Adal-angular4 working when I was using 5.2.4 before s

[2018-03-21 20:36] rwmb opened #37 "Retrieve refresh token for server side custom login"
I'm trying to make a custom login using Microsoft Office 365 with my firebase application, using cloud functions. I got to the step of signing in the user and getting the token, however my problem is: I cannot get the refresh token, which I believe is the correct way to authenticate the user in the server side by getting a new token from O365 in the cloud function.
How can I retrieve this token?
A

[2018-03-23 16:18] rwmb commented on #37
@benbaran Do you have any ideas on how to achieve this?
Great package btw! :)

[2018-03-27 04:24] stuarthallows commented on #35
I've put in a pull request to fix this.

[2018-03-29 05:05] RasikaMK opened #39 "Generated token is not authorizing API."
After generating token from my code, when I post the token in Postman header along with my api url in url section and GET request , I am getting below message :
{
    "Message": "Authorization has been denied for this request."
}

Please suggest me some solution.

[2018-03-29 06:14] leonixyz commented on #39
can you provide more details, e.g. can you paste your code and the http request you are issuing in postman?

[2018-04-10 12:08] ollief87 commented on #16
This change seems to fix the redirect issue for me. Can you do the pull request?

[2018-04-13 09:59] anz1e commented on #31
Hello, I struggled with this for weeks, and finally gave up and switched off AOT for the production build.

[2018-04-24 20:06] mikerains commented on #16
I have the same experience here, and the code change contributed by BartNetJS does resolve the issue.   I vote for the Pull Request as well.

[2018-04-24 20:08] mikerains commented on #35
I find the same condition and vote for this Pull Request.

[2018-04-26 04:52] ollief87 commented on #16
@BartNetJS can you do the PR with the change? If not I can do a PR with your change

[2018-05-03 22:36] benbaran commented on #16
This change has been merged : )

[2018-05-03 22:36] #16 closed

[2018-05-03 22:38] benbaran commented on #35
The pull request fixing this has been merged : )

[2018-05-03 22:38] #35 closed

[2018-05-04 06:33] rjwijnen opened #41 "Angular 6"
With the release of Angular 6 i get the warning:

npm WARN adal-angular4@2.0.15 requires a peer of @angular/common@^5.2.5 but none is installed. You must install peer dependencies yourself.
npm WARN adal-angular4@2.0.15 requires a peer of @angular/core@^5.2.5 but none is installed. You must install peer dependencies yourself.
npm WARN adal-angular4@2.0.15 requires a peer of @angular/platform-brows

[2018-05-04 20:16] benbaran commented on #41
The package has been updated to support Angular 6 in the 3.x version.

[2018-05-08 01:34] ranjitkrishnan opened #42 "Object(...) is not a function error while calling acquiretoken"
I was trying to use the latest version of adal-angular4 (V3.0.1) in my Angular 5 application. I am using AdalInterceptor to add token to the API calls. From the interceptor while calling acquiretoken, I am getting the below error.

TypeError: Object(...) is not a function
    at AdalService.acquireToken (adal.service.js:101)
    at AdalInterceptor.intercept (adal.interceptor.js:22)
    at HttpInte

[2018-05-08 06:55] som-nitjsr opened #43 "ERROR Token renewal operation failed due to timeout angular 6"
I am getting this error while updated to angular6. it was working till angular 5
this.adalService.acquireToken("00000003-0000-0000-c000-000000000000").subscribe(token => {

           console.log(token);

        });

[2018-05-08 15:12] benbaran commented on #42
You will want to continue using the 2.x versions for angular 5. 3.X is targeted for angular 6.

Sent from my iPhone

[2018-05-09 17:16] HighSoftWare96 opened #44 "Documentation or example required"
I think that it would be nice if some documentation or examples was provided.

[2018-05-10 04:39] rodneyjoyce opened #45 "How to access the callback after login?"
Hi,

After login I want to show a message if it is successful or an error if not, however it is a void method which means I have no way of knowing when it completes - should it not return a promise or callback?

[2018-05-10 06:31] HighSoftWare96 opened #46 "[Question] How to get the access token after login()"
How can we have access to the acess token given by the aad API after the user has logged in (I've used the login module)? I've seen that the token is passed trough the redirect url as an hash called 'id_token', is that safe? Have I to retrieve that within the url or there are some methods that allow me to access this returned token?

[2018-05-10 09:55] HighSoftWare96 commented on #46
I've solved using `handleCallbackWindow()` subscription in the window of the login success redirect.

[2018-05-10 09:55] #46 closed

[2018-05-10 10:02] HighSoftWare96 commented on #45
If you're using the window mode redirect and you have set in the adalService configuration the `postLogoutRedirectUri` then in the component called by routing into postLogoutRedirectUri in the OnInit function you can handle the callback of the login process with the function  `handleWindowCallback()` that saves all the parameters in the cache. Then if you need the token you can use acquireToken (t

[2018-05-10 22:43] chase-swanson opened #47 "Endpoint Token Response `ERROR Token renewal operation failed due to timeout.`"
Struggling to configure ADAL with Angular app.  Believe struggles are configuration based not the library, but any help would be greatly appreciated.

Angular 6 and adal-angular4 v 3.01

I can login to the site fine, but when requesting a token for an endpoint, the console errors with `ERROR Token renewal operation failed due to timeout.`

When I look at the actual traffic, I actually am receiving

[2018-05-10 23:15] benbaran commented on #47
Hmmm. Not sure. What are you using for your configuration object? Fake example values are fine : )

Sent from my iPhone

[2018-05-10 23:32] benbaran commented on #47
I wonder if it is because you have multiple endpoints I have not tested that. I’ll give it a try tomorrow.

Sent from my iPhone

[2018-05-10 23:40] chase-swanson commented on #47
Thinking my issue is really in Azure AD setup, but not sure what I am missing.  Not sure if this will shed any light on it.

![frames](https://user-images.githubusercontent.com/11435869/39899452-cb98adf8-5470-11e8-8f0c-95de6cfa4032.png)

[2018-05-11 06:19] AtomicBlom commented on #47
I've been trying to get to the bottom of this as well, after enabling adal-angular logging, I've stumbled across this message:

[code]

This appears to relate to an existing issue in the adal-angular repository from a week and a bit ago, but unanswered.
https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/736

[2018-05-14 18:14] geerzo commented on #44
https://github.com/benbaran/adal-angular4-example

[2018-05-15 11:57] JayeshLunkad opened #48 "Acquire Token does not renew token"
Hi,
I have configured AD in my angular 5 web app. It returns the token and stores it in session storage. But I want to renew the token before it expires. so I call acquiretoken() before expiry time but it doesn't renew the token. It returns the same token each time called. Can you please help how can i renew the token silently even if my page is idle.

Thanks,
Jayesh

[2018-05-16 08:01] kingdomflo commented on #48
I have the same problem
I have read in some blog or stackoverflow issus that acquireToken look if we have a right cookie (and if not, it doesnt refresh), but... I don't see cookie in my local storage, I never see cookie created

Is it that the problem?

[2018-05-16 12:03] pelle79 opened #49 "Add example on how to use HttpClient along with the AdalService"
I would be eternally grateful if you could add a httpservice that performs a get request or similar, which utilizes the adalservice

[2018-05-18 11:50] rjwijnen commented on #47
I am having the same problems. @benbaran  maybe you could set adal-angular version back to 1.0.15 till the problem is fixed?

[2018-05-22 07:44] rodneyjoyce commented on #45
Thank you, I've decided to use an HTTP Interceptor to check tokens every time as opposed to an event on login.

[2018-05-22 07:44] #45 closed

[2018-05-22 09:55] web265p3 commented on #47
Same issue here :-)

[2018-05-23 12:31] web265p3 opened #53 "Endpoint is not called by ADAL, instead only token is returned"
For this issue I created a new Angular6-app with angular cli, that tries to call my backend API with a token retrieved from the oauth-endpoint.

My source code can be found here:
https://github.com/web265p3/angular-adal-test/tree/master/src

I installed the latest version of adal-angular4 and configured everything like I found in the tutorials.
I call my API with the following lines:

        this

[2018-05-28 07:20] ottosson commented on #49
Maybe this is what you are looking for?
[adal-angular4-example](https://github.com/benbaran/adal-angular4-example)

[2018-05-28 09:00] web265p3 commented on #49
The adal-angular4-example does not perform a get-call.
I also need a working example. I only get adal-angular4 to work with Angular 4. With Angular 6 and the interceptors I am not able to call any service.
I am using the interceptor like this:

@NgModule({
  imports: [
    CommonModule,
    HttpClientModule,
    EmployeeRoutes
  ],
  declarations: [
    ListComponent
  ],
  providers: [
    {

[2018-05-28 09:03] ottosson commented on #49
@web265p3 That project is using adal-angular4 2.x.x. For Angular 6 projects you should upgrade adal-angular4 to 3.x.x. Not sure if you need to do anything else, but that would probably be a good start.

[2018-05-28 12:44] web265p3 commented on #49
Why do you think I am using 2.xx? I am definetly on 3.01? Or am I doing anything wrong?

[2018-05-28 12:52] ottosson commented on #49
No I just wanted you to make sure that you changed to 3.x.x in package.json. Another guess: Don't you need to add AdalService to the providers?

[2018-05-28 13:09] web265p3 commented on #49
I did this in the module above... My source and issue is here:

https://github.com/benbaran/adal-angular4/issues/53

Any working Example with angular-adal6 with calling GET or POST would be appreciated a lot :-)

[2018-05-29 21:17] geerzo commented on #49
I have Angular 6 working with this library and get calls. My current code isn't shareable directly but I can try to put something together. I looked at your other ticket, do you have the latest version of your code that uses the interceptors?

[2018-05-30 06:03] web265p3 commented on #49
Thanks. An example would be awesome, because I just do not get it to work. The file where I am using the interceptors can be found here:

https://github.com/web265p3/angular-adal-test/blob/master/src/app/app-routing.module.ts

[2018-05-30 11:36] web265p3 commented on #49
Maybe you can just post the lines of your code, where you perform the get or post?

[2018-05-31 18:14] FrankyHuQingFeng commented on #48
in the config settings using:     cacheLocation: 'localStorage',

[2018-05-31 18:23] FrankyHuQingFeng opened #54 "How to config token expiry time"
The default token expiry time is one hour. However I want to test token renew which will make me wait for one hour.

When i search online, I find https://docs.microsoft.com/en-us/azure/active-directory/active-directory-configurable-token-lifetimes which have the "AccessTokenLifetime" and I also see "expireOffsetSeconds" for the adal-angular4 config. However both of them are not working.

Anyone ca

[2018-05-31 23:12] stuarthallows commented on #47
It look as if the underlying issue in the ADAL for JS library has just been resolved;
https://github.com/AzureAD/azure-activedirectory-library-for-js/pull/760

[2018-06-01 13:37] web265p3 commented on #32
Same issue here. I had to got back to version 1.0.15 to get acquireToken to work.

[2018-06-01 13:38] web265p3 commented on #53
Problem fixed!
This issue describes what was wrong. It was the adal version 1.0.17, that contained a bug.

https://github.com/benbaran/adal-angular4/issues/32

[2018-06-01 13:38] #53 closed

[2018-06-01 19:51] kaburkett commented on #41
Thanks for maintaining the project. I've confirmed 3.x is working with angular 6... had to actually switch packages from adal-angular5 to this package since this one is the one that's actually maintained

[2018-06-04 12:52] web265p3 opened #55 "Add CORS"
In order to get this library to work with CORS, I always have to remove the "X-Requested-With" from my requests. The interceptor does not do this automatically, neither did I find a way how to configure it.

https://github.com/AzureAD/azure-activedirectory-library-for-js/wiki/CORS-usage

Is there a way how I can configure adal-angular4 to be CORS-ready?

[2018-06-05 13:01] leonixyz commented on #47
[this commit](https://github.com/benbaran/adal-angular4/commit/5d8c7435c05e3153d75b50c6cc02f4d23642dec8) modified the dependency with adal-angular.

This is the same error I experienced months ago, and i fixed it with my [pull request](https://github.com/benbaran/adal-angular4/pull/33), unfortunately @benbaran for some reason has changed it again

[2018-06-06 12:48] #41 closed

[2018-06-10 20:48] peac3maker commented on #47
I'm currently using this nasty workaround:

Manually remove the adal-angular folder from your node_modules (not adal-angular4)
Run npm install adal-angular@1.0.15 on your project
Manually change the dependency to adal-angular in the package.json of node_modules/adal-angular4 to version 1.0.15
Try again! Be aware that you will have to make sure that the version 1.0.17 is not installed again after y

[2018-06-11 07:37] frompedro commented on #44
Hello geerzo, i am using adal-angular 4 to connect to Azure AD and then to Graph API. can you provide an example on how to call a graph api endpoint?

Can you help please?
![image](https://user-images.githubusercontent.com/3612786/41218320-fb9b5714-6d5a-11e8-901d-aeb0ffcd848f.png)

[2018-06-11 13:55] elena89rossi opened #56 "Unable to call secure WebApi"
Hi all,
I've update my app from angular4 to angular6, and now I'm unable to call secure web api.
In angular4 I call Web Api using Adal4HttpService, and all works fine:

import { Injectable } from '@angular/core';
import { Observable } from 'rxjs/Observable';
import { Adal4HTTPService } from 'adal-angular4';

import { environment } from '../../../environments/environment';
import { Employee, IEmplo

[2018-06-12 10:50] aemonge commented on #22
It seams the problem has returned in the supported version for angular 6

[2018-06-12 22:16] JasonPaape opened #57 "adal.Config missing logOutUri"
The type definition for the config object is missing the logOutUri property.
https://github.com/benbaran/adal-angular4/blob/master/adal-angular.d.ts

declare namespace adal
...
interface Config {
...
logOutUri?: string;  // <-- missing

Can you add it please? I got around it by typing my apps adal config object to "any" for now.

[2018-06-13 12:56] web265p3 commented on #47
I do it the same way. I also deploy my app with Visual Studio Teamservices, and here I cannot use the workaround. It would be awesome if @benbaran could change back to 1.0.15

[2018-06-13 13:00] web265p3 commented on #56
You have to use the Interceptor or attach your token manually

[code]

I cannot tell you, why the HttpService was removed...

[2018-06-13 14:41] elena89rossi commented on #56
I have already try to use a PrepareOptions method to setup HttpHeaders but I've  always HttpResponse "Unauthorized".
Here my code

import { Component, OnInit } from '@angular/core';
import { AdalService } from 'adal-angular4';
import {HttpHeaders, HttpClient} from '@angular/common/http';
// import { Observable } from 'rxjs';
import {environment} from '../../environments/environment';
import { map,

[2018-06-13 15:02] elena89rossi commented on #56
If i try to use Http_interceptor without PrepareOption Method as a parameter of Http call, I've this error:
core.js:1601 ERROR Token renewal operation failed due to timeout:

Here the code:

app.module:

@NgModule({
  declarations: [
    AppComponent,
    HomeComponent,
  ],
  imports: [
    BrowserModule,
    AppRoutingModule,
    BrowserAnimationsModule,
    MaterialModule,
    HttpClientModule

[2018-06-13 15:02] #56 closed

[2018-06-13 15:15] geerzo commented on #49
I've been trying to put together a sample but my app has stopped working now (haven't changed any libraries). I am now getting an error that says "ERROR: Token renewal operation failed due to timeout" anytime I try and call my API. I can see in the network debugger that ADAL is calling out to the authorize endpoint and never returning.

One of the annoying things about angular apps is for some rea

[2018-06-13 15:26] elena89rossi opened #58 "Unable to call secure WebApi"
I've update my app from angular4 to angular6, and now I'm unable to call secure web api.
I try to setup a PrepareOptions method to setup HttpHeaders
I have already try to use a PrepareOptions method to setup HttpHeaders but I've always HttpResponse "Unauthorized".
Here my code

import { Component, OnInit } from '';
import { AdalService } from 'adal-angular4';
import {HttpHeaders, HttpClient} from

[2018-06-13 18:05] geerzo commented on #49
Ok, I was able to fix the issue by downgrading adal-angular to 1.0.15. Seems like something in the 1.0.16 release broke how this library uses it (more details below).

I also added an API call to the example project. https://github.com/benbaran/adal-angular6-example/pull/2

More Details:
After you load an application and then call a secure API it calls the aquireToken method which registers a call

[2018-06-13 18:06] geerzo commented on #58
See this issue #49

[2018-06-13 19:48] peac3maker commented on #49
Another interesting part is that I found live reload of angular cli is not working well with the callback of ADAL. I had to use the following command **ng serve --live-reload false**.

[2018-06-13 20:32] geerzo commented on #49
I don't have a problem with live-reload as long as I'm on adal-angular 1.0.15.

[2018-06-15 17:55] geerzo commented on #58
You need to downgrade adal-angular to 1.0.15 and change the package.json of adal-angular4 to use adal-angular 1.0.15.

[2018-06-15 18:04] brettkc commented on #49
@geerzo is correct here. Authorizing the user works as intended with the newer adal-angular version (1.0.17 in my case) but there are issues with using the interceptor and the call to acquireToken timing out. Downgrading the adal-angular version appears to make things work.

[2018-06-15 19:10] brettkc commented on #58
@elena89rossi  Changing nested dependencies see: https://stackoverflow.com/a/48524488/5670286

[2018-06-18 10:58] daver77 commented on #49
How do you downgrade adal-angular to 1.0.15.
I tred edtting package-lock.json, removing it from the requires section, changing the version under dependencie to 10.0.15 and running npm install. But it sets it back to 10.0.17 automatically

[2018-06-20 01:06] chrisjau commented on #17
Work around is to have the api on a different domain to the angular app.  Can someone look into this, it's been an issue for quite a while.

[2018-06-21 09:13] martinvillysson commented on #47
While waiting for an official fix from @benbaran I forked the repo, rolled back adal-angular to 1.0.15, compiled the code and uploaded the built output to [https://github.com/martinvillysson/adal-angular4](https://github.com/martinvillysson/adal-angular4). We then use it in out package.json like this: `"adal-angular4": "martinvillysson/adal-angular4"`.

[2018-06-21 11:11] sonphnt opened #60 "Wrong Audience in Bearer token"
Hi,

I am having 2 projects (WebAPI .Net core 2.0 and Angular 6). they are hosted separately. I used to make this Azure AD authentication worked with Angular JS and .Net core 2.0 but no success with Angular 6.

I realize my token in Angular 6 has a wrong "Aud" value that's why I got "Wrong audience error exception".
In Angular 6: aud: "angular client id"
In AngularJS: aud "webapi app id URI"

Does

[2018-06-21 11:15] sonphnt commented on #49
@daver77  Have you found the solution? I am getting "Wrong audience error" when calling to a separated Web API.

[2018-06-21 13:45] daver77 commented on #49
@sonphnt - no sorry, I still get
Bearer error="invalid_token", error_description="The issuer is invalid"

What are you using in Startup.cs? I have

`            services.AddAuthentication(options =>
            {
                options.DefaultAuthenticateScheme = JwtBearerDefaults.AuthenticationScheme;
                options.DefaultChallengeScheme = JwtBearerDefaults.AuthenticationScheme;

[2018-06-21 14:17] daver77 opened #61 "Bearer error="invalid_token", error_description="The issuer is invalid""
Hi,

Has anyone successfully used the token from an Angular6 app against a .NET Core Web API?

When I try I get the error
**_WWW-Authenticate: Bearer error="invalid_token", error_description="The issuer is invalid"_**

In my Startup.cs I have:

[code]

My API is

[code]

I can see that the bearer token is being passed to my API in the Authorization header

[2018-06-21 14:59] sonphnt commented on #53
@web265p3 with adal version 1.0.17 and Angular 6. Can you get accessToken correctly? How did you fix that? I only get IdToken and manually get accesstoken by another call.

[2018-06-21 15:14] daver77 commented on #61
I decoded my token and noticed that "iss" was set to

https://sts.windows.net/60e0ab8b-8c8d-4eef-b9c2-f9cb65535c28

so I set

`options.Authority = "https://sts.windows.net/60e0ab8b-8c8d-4eef-b9c2-f9cb65535c28";`

and now my API authenticates. I'm not sure where 60e0ab8b-8c8d-4eef-b9c2-f9cb65535c28 comes from though, anyone know?

[2018-06-21 17:21] sonphnt commented on #49
Are you using .net core 2.x. ?  If you created the api project from VS2017 with .net core 2.x with organisation authentication by default. You will see an extension called “AddAzureAd” with options binding to your appsettings file automatically. You dont have to configure AddJwtbearer manually

[2018-06-22 08:22] daver77 commented on #49
I got it working, the Authority was incorrect, it should have been https://sts.windows.net rather than https://login.microsoftonline.com. I'm not sure where this is set though, adal.js (line 30) defaults to https://login.microsoftonline.com.

[2018-06-26 09:44] daver77 opened #62 "correct usage of acquireToken"
I'm trying to use acquireToken to get a token for the VSTS API using

[code]

but it doesn't seem to be doing anything. I can see the response in fiddler and it looks okay. Is the code above wrong?

I can get everything working fine using adal.js from the code at https://github.com/Microsoft/vsts-auth-samples/tree/master/JavascriptWebAppSample

[2018-06-27 13:56] ThomasPe commented on #60
We seem to be facing the same issue. Did you get anywhere with this yet?

[2018-06-27 14:00] sonphnt commented on #60
I found a way by calling acquiretoken() in adal to get a real access token with resourceid.
[code]

[2018-06-27 14:49] daver77 commented on #62
I downgraded to adal-angular 1.0.14 and it now works

[2018-06-28 09:47] j-turner28 commented on #47
@benbaran Can we please get a fix for this, even if it's just a short term fix like rolling back the version of adal-angular to 1.0.15?

[2018-06-28 17:20] chase-swanson commented on #47
@j-turner28 My guess is he is waiting for 1.0.18 to come out. They have already merged that code in, but have not released it yet.

I simply just brought @benbaran code into my application and cited his work and then I can control the adal-angular dependency myself.

[2018-06-30 21:13] DanaEpp opened #64 "How do you prompt for account selection with ADAL?"
According to the Microsoft documentation for OAuth 2.0 consent flow, there is an option to cause a prompt for account selection (the credential selection tile). This is done with **prompt=select_account**

(See [https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-protocols-oauth-code](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-prot

[2018-07-01 21:38] DanaEpp commented on #55
Did you find a way around the CORS issue?

[2018-07-01 22:18] DanaEpp commented on #47
Hmmm... @benbaran any update on when this will be fixed?

[2018-07-01 22:19] DanaEpp commented on #43
Is this not related to https://github.com/benbaran/adal-angular4/issues/47? #47

[2018-07-02 22:13] vipero07 opened #65 "npm audit vulnerabilities"
There are at least 8 audit issues with the current package available on NPM. The worst offenders are two High vulnerability issues found in http-proxy-agent that allow for Denial of Service attacks. The http-proxy-agent library has been patched to version 2.2.0 to fix these known vulnerabilities. It would be worthwhile to update the package dependencies to their latest versions.

[2018-07-03 22:09] benbaran commented on #65
New version published today with updated dependencies : )

Sent from my iPhone

[2018-07-03 22:18] DanaEpp commented on #64
Anyone have any ideas on this when using .login()?

[2018-07-03 23:00] benbaran commented on #47
I have downgraded in the version released today. Sorry for the delay, this is a hobby project and I don’t always have time to make timely updates.

[2018-07-04 13:04] rjwijnen commented on #47
@benbaran i still get adal-angular 1.0.17 with the latest 3.0.4 version??

[2018-07-04 20:37] benbaran commented on #47
Yeah, I accidentally ran a npm update before I published out of habit. I will correct it tomorrow.

Sent from my iPhone

[2018-07-05 09:03] rjwijnen commented on #47
@benbaran would be great! 👍

[2018-07-05 10:38] web265p3 commented on #55
Nope - I still remove the Header. But that works...

[2018-07-05 10:40] web265p3 commented on #47
Cant wait :)

[2018-07-06 00:13] benbaran commented on #47
It is updated, I think...

Sent from my iPhone

[2018-07-08 07:24] satheeshdiva opened #66 "Unable to access secured web api"
Not able to Access the secured web api
keep getting Not authorized error even though i am passing the bearer token in the request

[2018-07-08 18:38] DanaEpp commented on #62
Why did the downgrade work? Why didn't this work with the latest stuff?

[2018-07-08 21:56] benbaran commented on #62
Someone mentioned it looked like a bug in the latest adal version. I have not had the opportunity to investigate myself, unfortunately. I don’t use this library myself, just a hobby project that has gained some traction...

[2018-07-08 22:14] #65 closed

[2018-07-08 22:15] #44 closed

[2018-07-08 22:18] benbaran commented on #32
The adal-angular version has been set back to the working version. I will update to the newest version once that bug is fixed : )

[2018-07-08 22:18] #32 closed

[2018-07-09 02:44] DanaEpp commented on #62
So @benbaran do you know what the right way is to silently call acquireToken and not have it redirect?

[2018-07-09 02:46] DanaEpp commented on #66
Have you confirmed that the bearer token is correct? Use postman and directly send a GET request to your secured web API and inserting the bearer token. If its successful you should be able to determine that.

If its not, then can you look deeper into the message coming back from Azure AD and let us know the error you are getting?

[2018-07-09 04:35] nickraphael opened #67 "Will 3.0.6 will published to NPM?"

[2018-07-09 08:12] daver77 commented on #62
@DanaEpp - the above code works, just change the dependency to adal-angular 1.0.14.

[https://github.com/AzureAD/azure-activedirectory-library-for-js/blob/master/changelog.txt](You can see the change here). I'm guessing this had something to do with it

Version 1.0.15
=========================
* Added acquireTokenRedirect and acquireTokenPopup api's to acquire a token for resource interactively (M

[2018-07-09 13:12] daver77 commented on #62
I've got [@types/adal-angular](https://www.npmjs.com/package/@types/adal-angular) to work. [This helped](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/12586).

[code]

[2018-07-10 10:18] daver77 commented on #62
The bug is clearly somewhere within adal-angular4, I can call acquireToken on adal-angular 1.0.17 just fine when used with [@types/adal-angular](https://www.npmjs.com/package/@types/adal-angular)

[2018-07-13 02:51] DanaEpp commented on #64
I figured this out.

In .config.extraQueryParameter you can set it to "prompt=select_account" before you call .login().

While this works, now the artifact is its always prompting, so the reauth flow is broken. Just working through that. prompt=none is already set on the second call for acquireToken(), so I am not sure what the issue is.

[2018-07-13 02:57] DanaEpp commented on #62
@daver77 I think you are on to something. Pointing to the changelog was a real help.

Look at the bullet in 1.0.16:

I think that might be the culprit. I am going to go make some changes to my code and see if that will work.

[2018-07-16 21:23] geerzo commented on #67
Even though NPM says 3.0.5 it appears to have the correct version of adal-angular (1.0.15).

[code]

[2018-07-16 23:58] benbaran commented on #67
Hi Chris,

I see that you follow this package quite closely. Unfortunately it’s a hobby for me and I don’t have as much time to maintain it as I’d like. I be glad to add you as a comaintainer if you’re interested : )

Sent from my iPhone

[2018-07-17 14:44] geerzo commented on #67
I'd be happy to help as much as I can. Can you add me here and for the example project?

[2018-07-18 09:58] michaelstievenart opened #68 "Add Cookies as option for cacheLocation"
It appears that cookies are not currently an option for saving the token info returned
add cookies as a cacheLocation option when setting up the adalService configuration

[2018-07-19 02:04] DanaEpp commented on #67
I'd be happy to help contribute too ben if you are open to pull requests.

[2018-07-19 02:06] #64 closed

[2018-07-25 11:41] magleahy commented on #58
https://www.npmjs.com/package/adal-angular6 is deprecated.
"Warning: Deprecated!!!
Please use https://github.com/benbaran/adal-angular4 which has already been merged into angular 6.

This repository lives only as my personal documentation on how to do a naive migration."

[2018-07-26 14:51] #68 closed

[2018-07-27 20:34] geerzo commented on #67
@benbaran any news on becoming a committer?

[2018-07-27 23:17] benbaran commented on #67
Finally figured it out. You should get an invite.

Sent from my iPhone

[2018-07-30 23:49] ciprianjichici opened #69 "logOutUri missing in adal-angular.d.ts"
The Config interface does not contain the logOutUri property which is available in adal to force the use of the id_token_hint parameter when logging out from ADFS 2016+.

[2018-07-30 23:55] #69 closed

[2018-07-30 23:55] ciprianjichici commented on #69
Duplicate of #57

[2018-07-31 18:26] #67 closed

[2018-07-31 21:53] geerzo commented on #19
I'm closing this as it's an old issue. If this is still an issue for anyone please reopen it with how to reproduce.

[2018-07-31 21:53] #19 closed

[2018-07-31 21:57] geerzo commented on #20
I'm closing this as it's an old issue. If this is still an issue for anyone please reopen it with how to reproduce.

[2018-07-31 21:57] #20 closed

[2018-08-01 01:04] geerzo commented on #22
Please see the [Example Project](https://github.com/benbaran/adal-angular6-example) for a working example of calling the Graph API.

[2018-08-01 01:04] #22 closed

[2018-08-01 01:05] geerzo commented on #66
Please see the [Example Project](https://github.com/benbaran/adal-angular6-example) for a working example of calling the Graph API.

[2018-08-01 01:06] geerzo commented on #58
Please see the [Example Project](https://github.com/benbaran/adal-angular6-example) for a working example of calling the Graph API. Please use 3.0.5 of this library.

[2018-08-01 01:06] #58 closed

[2018-08-01 01:07] geerzo commented on #49
Please see the [Example Project](https://github.com/benbaran/adal-angular6-example) for a working example of calling the Graph API. Please use 3.0.5 of this library.

[2018-08-01 01:07] #49 closed

[2018-08-01 01:08] #25 closed

[2018-08-01 01:09] geerzo commented on #3
Closing as a solution was posted.

[2018-08-01 01:09] #3 closed

[2018-08-01 01:09] geerzo commented on #5
Is this still an issue?

[2018-08-01 01:11] geerzo commented on #17
What version are you seeing this on?

[2018-08-01 01:11] geerzo commented on #18
Closing as an old issue that appears to have been solved. Please post a new issue if there is still an issue here.

[2018-08-01 01:11] #18 closed

[2018-08-01 01:15] geerzo commented on #28
Duplicate of #24

[2018-08-01 01:15] #28 closed

[2018-08-01 01:16] geerzo commented on #39
Closing due to lack of response. Please provide more information if it's still an issue.

[2018-08-01 01:16] #39 closed

[2018-08-01 01:34] geerzo commented on #62
@DanaEpp were you able to figure anything out here? When I was debugging before I found the hidden iFrame was the culprit as it caused the angular app to reload. The findings are in #49 but I've pasted them below.

[2018-08-01 01:51] geerzo commented on #61
Check out [this blog](https://cloudblogs.microsoft.com/enterprisemobility/2015/03/06/simplifying-our-azure-ad-authentication-flows/). I looks like the endpoints changed to login.microsoftonline.com but the issuer stayed the same as sts.windows.net.

Let me know if I can close this issue.

[2018-08-01 01:52] geerzo commented on #60
Is this still an issue? Do you have sample code somewhere to reproduce the issue?

[2018-08-01 01:54] geerzo commented on #47
adal-angular has been reverted back to 1.0.15. There are other issues looking into fixing the issue with 1.0.17 so closing this one.

[2018-08-01 01:54] #47 closed

[2018-08-01 02:06] geerzo commented on #36
Is this still an issue?

[2018-08-01 02:11] geerzo commented on #37
@rwmb I'm not sure I'm following what you are trying to do. Are you trying to authenticate in Angular (using this library) but somehow authorize your backend service to act on behalf of the same user? Is this still an open issue?

[2018-08-01 02:14] geerzo commented on #55
@web265p3 Are you using the endpoints mechanic as they mention in that post you linked? If you take a look at the [example project](https://github.com/benbaran/adal-angular6-example) it now calls the GraphAPI and doesn't have any CORS issues.

[2018-08-01 02:18] geerzo commented on #43
Duplicate of #47

[2018-08-01 02:18] #43 closed

[2018-08-01 02:24] Milad0207 commented on #36
I haven't upgraded angular yet, so I have not tested if this was fixed with the newer versions.

[2018-08-01 02:28] geerzo commented on #36
Do me a favor and try 2.0.16. I believe the issue you are seeing is due to the fact that adal-angular was updated to 1.0.16 in 2.0.14 but was downgraded back down to 1.0.15 later.

[2018-08-01 03:33] DanaEpp commented on #62
I had the same findings. The hidden iFrame is whats killing it. My solution was to use session state management with NGXS and store the info and do a hard windows.top.location.href to force the reload, then rehydrate all the state so it works. Ugly as sin, but guaranteed to work.

[2018-08-01 03:56] Milad0207 commented on #36
any specific versions of what you want me to test out?    want me to upgrade angular and to which version? and want me to upgrade the adal-angular5 library I have cause I'm not using adal-angular4 anymore

I can't promise to do it right now but i can try it out when i find some time.

[2018-08-01 10:13] rwmb commented on #37
Hi, yes, it's still open. Basically what I want to do is use office365 as a login method for my firebase application.

[2018-08-01 11:58] geerzo commented on #36
2.0.16 is the latest version for angular 5.x

[2018-08-01 12:01] geerzo commented on #37
That use case is outside the scope of this project. This is just an Angular wrapper around adal.js. I'm not sure your scenario is really supported but if it is the adal.js guys would be able to point you in the right direction. If you find a solution with them and there needs to be a Angular wrapper put around it let us know and we can do that.

[2018-08-03 16:28] geerzo commented on #48
By default, the adal system will automatically renew the token when you call acquireToken if it has expired. You shouldn't cache the token yourself, you should allow the tool to do it. If you are using the interceptor you shouldn't have to care about the token at all.

[2018-08-03 16:30] #66 closed

[2018-08-03 16:35] geerzo opened #71 "Automatic renewal of login token"
Right now there is no automatic renewal of the login token which will make adal-angular4/adal.js think you aren't authenticated when you still have a valid login session. To fix this I've added a refresh that does two things:
1) If the login token has expired during init of adal-angular4 then it will refresh the login token and then reload the page. I don't like the reload but it was required for

[2018-08-03 16:40] geerzo commented on #62
@DanaEpp are you using adal-angular 1.0.17 still? If not, take a look at #71 and see if helps with any refresh issues you were having.

[2018-08-03 19:07] geerzo commented on #71
Looks like @benbaran merged the PR so review master and let me know if anyone sees any issues.

[2018-08-08 16:42] ggit2018 commented on #31
this is resolved now, as we upgraded everything to angular 5

On Tue, Jul 31, 2018 at 10:20 PM, Chris Geer <notifications@github.com>
wrote:

[2018-08-09 05:49] Milad0207 commented on #36
I tried Upgrading to 2.0.16 and using 5.2.10 and but having a different issue. I get this when I run it, not sure the problem, I don't have this issue with adal-angular5 which i'm aware is behing on some changes that this library has applied.

NodeInvocationException: Prerendering failed because of error: ReferenceError: window is not defined at eval (webpack-internal:///617:177:5) at eval (webpac

[2018-08-10 14:05] #31 closed

[2018-08-10 14:06] geerzo commented on #36
Ok, I don't have a way to test 5.x at the moment. Let me see if I can remedy that.

[2018-08-10 20:28] geerzo opened #72 "Release v3.0.7"
@benbaran I tagged master with 3.0.7 so if you can do a release (or give me instructions) lets get it out there so people can use the refresh.

[2018-08-11 18:43] benbaran commented on #72
Published to npm as 3.0.7 .

[2018-08-13 08:38] MagnusKnalstad commented on #36
Everything worked fine with Angular 5.2.4 using the Adal-angualr5 wrapper.
When upgrading to Angular 6.X and the 3+ versions of this library I am running into the same issue. Somehow, It works sometimes and I receive all information from the the callback around 2 / 10 times. (Spam clicking) Very strange. Hope it will be fixed soon. I have to revert back to Angular 5 as well

[2018-08-13 21:30] #72 closed

[2018-08-13 21:35] geerzo commented on #36
@MagnusKnalstad I'm not sure I understand your issue. adal-angular5 is a different project so there could be changes there not compatible here. Just speculating.

Take a look at the example app as it's a working example of Angular 6 with 3.0.7. https://github.com/benbaran/adal-angular6-example

[2018-08-14 10:49] MagnusKnalstad commented on #36
Hi again and thanks for fast feedback @geerzo . The Adal-angular5 was just a fork that was based on this repo. Cool, I will take a look. My issue has been when upgrading, I could see the token being fetched in the url, but somehow when the handleWindowCallback was being called, everything got flushed. (Tested yeserday with the 3.0.7 version). When inspecting the adal.userInfo everything is set to

[2018-08-16 12:02] simon11196 opened #73 "Wrong timer interval in loginRefreshTimer"
You calculate the interval with '**exp - this.now() - 300**' which are _seconds_.
But the rxjs timer requires _milliseconds_ as interval time.

`this.loginRefreshTimer = timer(exp - this.now() - 300).subscribe((x) => {
                this.refreshLoginToken()
            });`

In my example the token expires in ~37000 seconds but the timer is triggered every ~37 seconds
![image](https://user-image

[2018-08-16 14:51] SIlver-- commented on #71
As per #70

Can this be added into version 2.0(for angular 5) as well? I wouldn't want to change angular version to get this very important change. Thank you

[2018-08-17 09:31] B14m3m3 opened #74 "Making exporting the interfaces"
Is there a way to reference the interfaces defined?
Specifically the Config interface could be really useful to use when creating your own authConfig file.

[2018-08-17 18:48] benbaran commented on #74
At one point there was a configuration service that could be used to set all the options or read from environment.ts, but no one was using it. May look into adding it again.

Sent from my iPhone

[2018-08-17 20:28] B14m3m3 commented on #74
Creating a dedicated service for it would probably be unnecessary, as it would simply act as a dedicated data container without much additional functionality. I was thinking more like `https://github.com/Microsoft/powerbi-models` which exports all the interfaces such that they can be referenced.

So you could implement your own auth.config.ts as something like

[code]

Currently I've copied the wh

[2018-08-18 00:17] largeDachshund commented on #10
I'll add that it appears the code cannot find the config file in environment file (error TS2339), i.e. "**Property 'config' does not exist on type '{ production: boolean; appInsights: { instrumentationKey: string; }; }'**."

I just updated to 3.0.7 from 3.0.5.

[2018-08-20 09:18] vipins-optimus opened #75 "Issue while Acquire Token"
[code]

[2018-08-21 11:25] jpdmostwanted opened #76 "Unable to navigate to different url after successful login"
Hi, I have implemented the code and I am able to successfully log in and log out. The issue is when I get back to my application page after successful log in my page doesn't get refreshed. If I hit refresh manually I can see my page. Is there any way I can access any callback method to redirect my page to some url after successful login.

[2018-08-23 20:01] ursmeier-mercatus opened #77 "not working with ngx-translate when user is not logged in"
I have troubles running ngx-translate with 3.0.7 of adal-angular4. I believe there is an issue with http interceptor.
- ngx-translate uses a HttpClient Loader for a local file
`TranslateHttpLoader(http, './assets/i18n/', '.json');`
-adal-interceptor get the clientId back and resource is filled (!!resource)
`const resource = this.adal.getResourceForEndpoint(request.url);
 if (!resource) {`
-the cli

[2018-08-25 21:54] benbaran commented on #71
I have not had much time to devote to this project lately, so I’ll defer to others on the answer. I’ll try to take a look to see if I can think of a better solution.

Sent from my iPhone

[2018-08-25 22:31] geerzo commented on #71
@RDevai all the timer does is refresh the id token (login access token) before it expires. This action is actually very important because it's the only way to validate the user session is still valid with the identity provider. If you can successfully refresh the token, the user is still good. If not, the user has been logged out of the identity provider and should also be logged out here.

Curren

[2018-08-26 05:39] RDevai commented on #71
@benbaran Thanks, I think this is a great work, helped me a lot understanding adal from angular.

@geerzo Thanks for the the detailed answare. I think still the this enhancement is not desired because refresment should happen on interception by the interceptor on user interaction with the site. Otherwise the session will kept alive by the timer. I have a short session liftime configured. which sho

[2018-08-26 13:29] geerzo commented on #71
@RDevai as I mentioned, I'm all for having an option to disable the timer. If someone wants to submit a pull request it will get done faster. For my use case, and others, this solution helps us even though the session is being extended. At least in my scenario, our sessions have a max life anyway so they eventually time out and require re-auth regardless of activity.

I also agree that we should a

[2018-08-26 16:42] RDevai commented on #71
@geerzo Thanks for the detailed example.
I think we do not have an id token here as adal js is not capable by design to getting one. You can make a work around like below, but have you done this?
https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/525

I think it should intentionally not be there because the session should be handled based on the access_token renewals (and the S

[2018-08-26 17:30] geerzo commented on #71
@RDevai adal.js absolutely supports an id token, it's key to the success of the platform. Go look at your local session storage and you'll find "adal.idtoken" as one of the attributes. That's where it gets the username from. Go through the adal.js code, you'll find it all over the place.

BTW - the idtoken is just a special access token and matches the access token for the clientid resource. As yo

[2018-08-26 19:02] RDevai commented on #71
@geerzo You are right about AAD, the only thing, when the user logs out AAD invalidates the session tokens for the user (all for the user). So when adal requests a new token for any registered service silently, it should fail from all other apps. And this is decided based on the SSO session tokens by AAD and this is almost invisible for us but should be handled as a log out by all the apps.

Acces

[2018-08-27 14:38] yura-stepura opened #78 "npm dependency"
I noticed that in version v.2.0.15, `npm` was added to the list of dependencies together with `adal-angular`. And latest version of your library still have that dependency.

Having `npm ` in the dependency list causes a problem for us.
We use `license-checker` (https://www.npmjs.com/package/license-checker)  tool to keep track on licenses used in the project. It is used to check that no packages w

[2018-08-27 22:37] benbaran commented on #78
I don’t see a reason why not. I’ll take a look.

[2018-08-28 03:17] clyde-hoang opened #79 "Acquire Token after period of inactivity."
Hi All,

I was hoping someone is able to give me a hand in resolving the following issue.

I've recently update my angular6 app to take advantage of the latest features in adal-angular4 (v3.0.7), mainly the automatic renewal of access tokens/id tokens. After logging in and usage of the app for several hours (~8 hours) the application is working fine and I'm also using the id token for authorizatio

[2018-08-28 06:53] jo-me commented on #79
I'm seeing the same issue here..
I thought the timer would auto-renew the id token..

Do you know if the implicit grant flow has to be enabled in AAD?

[2018-08-28 06:57] jo-me opened #80 "Update adal-angular dependency?"
Hi,

is there a reason that version 1.0.15 of the adal-angular library is still used as a dependency?
The current version is 1.0.17.

I moved from adal-angular5 to adal-angular4 after upgrading my app from Angular 5 to 6 and I'm seeing strange issues again like an occasional login loop.
adal-angular5 is using 1.0.16 so maybe this was fixed already..

Thanks

[2018-08-28 15:55] jo-me commented on #80
I see,  then it's strange why it works with adal-angular5 . I had no problems with it.
I'm currently experimenting with switching to 1.0.16 via some npm hacks to see whether my login loops are gone then. But npm is not really designed to fiddle with dependencies of dependencies..

Did you also try 1.0.17?

[2018-08-28 18:08] kameelyan opened #81 "Error during typscript compilation in latest version (3.0.9)"
ERROR in ./node_modules/adal-angular4/index.ts
Module build failed: Error: \node_modules\adal-angular4\index.ts is missing from the TypeScript compilation.

We had "^3.0.7" in our package.json and then as of this morning this error started occurring when 3.0.9 was pushed.

[2018-08-28 18:56] brentbynum commented on #81
We've run into the same issue-- the compiled javascript files (adal.guard.js, adal.service.js, etc) aren't included in the package.

[2018-08-28 19:58] yura-stepura commented on #78
Great. Thank you.
Let me know if you need additional info or anything else from me.

[2018-08-29 01:33] benbaran commented on #81
My bad. Not sure what happened with the publish, but I’ll fix it tomorrow.

Sent from my iPhone

[2018-08-29 14:18] rajsolanki73 opened #82 "resource and custom claim"
i have posted this in adal4 with angular6 too.

Hi

I m using this ADAL library for my app for my on prem ADSFS and login works and i am able to get token. But i want to get back custom claim like email address , first name , last name . So as per ADFS 2016 doc i need to have resource parameter. So here is my config object

config: {
instance: 'https://myadfs2016.com/',
tenant: 'adfs',
clientId: '

[2018-08-29 17:03] benbaran commented on #81
I published a new version and it works with the example project. I’m hoping the issue has been resolved.

Sent from my iPhone

[2018-08-29 17:04] benbaran commented on #78
The newest version removes the non dependency: )

Sent from my iPhone

[2018-08-30 08:33] pytek commented on #5
Hi, I found similar problem using adal-angular4 3.0.10 and Google Chrome Version 68.0.3440.106 (I used cacheLocation: 'localStorage') with AAD.
When token expired and adal.js call to AAD and in the same time user refresh page, my app still infinitive loop.
I investigated this problem and found what is wrong.
In adal.service.js in function **init** is condition:
`if (this.user.loginCached && !this.

[2018-08-30 12:19] geerzo opened #83 "Library broken > 3.0.7"
@benbaran it looks like you changed the qualifier on adal-angular again and it's updating to 1.0.17 in your latest code [commit](https://github.com/benbaran/adal-angular4/commit/d888ca2881510687db1d671e73496f4273d29f0f#diff-b9cfc7f2cdf78a7f4b91a753d10865a2). So everything after 3.0.7 is broken again. Can you re-release pegged to 1.0.15?

[2018-08-30 12:32] geerzo commented on #5
@pytek this shouldn't cause an infinite loop as the refreshLoginToken happens in the background (iframe) but I still like your change suggestion. How do you reproduce it?

BTW - 3.0.10 is broken, use 3.0.7 for now.

[2018-08-30 13:02] pytek commented on #5
@geerzo I change value of key adal.expiration.keyXXXX in storage to epoch in past to force refresh token, at the same time I click refresh page.

Now I found similar infinitive loop when adal.expiration.keyXXXX expired and I open tab with my app

[2018-08-30 13:20] geerzo commented on #5
@pytek do me a favor and try 3.0.7 and see if you have the same problem.

[2018-08-30 14:34] jo-me opened #84 "Refresh after token renewal - memory leak?"
Hi,

I've noticed an issue related to adal that I cannot quite understand.

It seems like when a token is renewed silently the Angular App gets "restarted".
In the Chrome console, you can see:
`core.js:3123 Angular is running in the development mode. Call enableProdMode() to enable the production mode.`
running through when this happens when you're running it locally.

You can also provoke this is

[2018-08-30 14:41] pytek commented on #5
@geerzo I will downgrade library version to 3.0.7 and back with feedback :)

[2018-08-30 15:00] pytek commented on #5
@geerzo I downgraded library to version 3.0.7 and I have same problem.
My app still try refresh token on **init** function after back **id_token** from AAD, when id_token back to my app. See attachment

![image](https://user-images.githubusercontent.com/3649077/44860137-e2bd2d80-ac75-11e8-9909-c9c64f4fc965.png)

[2018-08-30 15:15] geerzo commented on #5
Ok, I'll take a look at adding a fix.

[2018-08-30 15:28] geerzo commented on #84
Any of the silent calls use an iframe that calls out to AAD to get the access token. The way AAD works is that it redirects back to the original application with the token in the url so in that iFrame the original application gets loaded which is why you see that initialization. I'm hopeful there is an elegant solution but I haven't found it yet.

It's important to realize that on the silent calls

[2018-08-30 15:59] jo-me commented on #84
Oohh. I understand. Never came to me to look inside the iframe. I thought that there are just some AAD dragons living there that I did not want to wake up.

I guess then I'll have to modify the app so that the iframe instance does not go overboard with backend interactions.

How can I detect inside the app whether I'm running inside the iframe ? window.parent === window?

[2018-08-30 18:52] benbaran commented on #83
Done. I have to figure out why that keeps happening...

Do you have any theories on what's going wrong with the newer version? Is the issue reproducible?

[2018-08-30 19:16] geerzo commented on #83
I believe npm now takes the approach of re-writing your package.json file whenever you run an update command. There is a flag to not do that.

The issue is very reproducible (happens every time). I don't have any good theories on exactly why it's happening as I haven't had time to look into it in a while.

[2018-08-30 19:18] geerzo commented on #84
You can use window.self != window.top but there might be a better way.

[2018-08-31 13:53] goggenb opened #85 "getUser null after login"
I am having troubles with handleWindowCallback. After it is called, getUser still return null.

I have stepped through adal.service in debug and it gets a hash from the url and says it is valid. When it comes to line 98 in adal.service typeof this.context.callback === 'function' returns false and it jumps to removing hash from url.

This is the first time I am using the adal library so I am not su

[2018-08-31 14:55] narenmakwana commented on #85
just curious did you decrypt id_token and see the values in that are correct ? does it have userName object ?

[2018-08-31 14:58] narenmakwana commented on #82
any one know any solution to this ? :(

[2018-08-31 15:52] goggenb commented on #85
It does not have userName. It has email, name, and unique_name of those containing my name/username

[2018-09-03 08:35] goggenb commented on #85
You are correct that it was a configuration issue. ClientID was set up wrong, and once we got that set correctly, getUser() is no longer null. The decoded token does still not contain a userName though :P This is azure AD by the way.

Thanks for the help guiding me to the solution.

[2018-09-03 08:35] #85 closed

[2018-09-03 11:25] jo-me commented on #84
So, I ended up spending way too much time on this.

Even after detecting the iframe from within my app and doing just the minimal things (like initializing adal to handle the callback) it still did not work . It always came back with dubious invalid_state adal errors and did therefore not write the new token to the storage.

Today, I tried this:
https://stackoverflow.com/a/49109828
and it really w

[2018-09-03 11:33] jo-me commented on #80
Thanks to the recent update frenzy of adal-angular4 I'm now on 3.0.10 with adal-angular on 1.0.17 and without doing any cruel npm hacks :)

I originally also had issues refreshing tokens in the background with this adal-angular version, but after using the solution from the other thread (https://github.com/benbaran/adal-angular4/issues/84#issuecomment-418086607) it looks fine. maybe it's worth inv

[2018-09-04 13:26] geerzo commented on #82
@narenmakwana I don't know but this is really a better question to the adal.js repo as their library does the core work, we just wrap it for Angular. Let us know what you find out.

[2018-09-04 13:26] #81 closed

[2018-09-04 13:36] geerzo commented on #79
@clyde-hoang there are a couple things are at work here so let me ask a couple questions (assuming no second timer you implemented)
1) At the 10+ hour mark, does the built in time stop working? Or does the renew call fail for the idtoken? (it's whole goal is the renew the idtoken)
2) "Stay logged in" is really a feature of AAD and the session with that. As long as the session is still valid your a

[2018-09-04 13:37] geerzo commented on #78
I'll close this as resolved. Let me know if it needs to be reopened.

[2018-09-04 13:37] #78 closed

[2018-09-04 14:04] #5 closed

[2018-09-04 17:52] narenmakwana commented on #82
ok i have posted question about claims in ADAL forum. But what about post logout issue ? Am i the only one who is facing this ?

[2018-09-04 21:09] rajsolanki73 commented on #82
ok my issue of logout is done :)

https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/677 that helped me.

[2018-09-04 21:44] geerzo commented on #79
BTW - I did find a bug where the refresh timer wasn't being initiated on the initial login, only on a reload of the app after being logged in. I have a fix for that I'll check in tomorrow after doing some additional testing around the issue you described above on stopping working after a period of time.

[2018-09-04 21:51] geerzo commented on #76
Login is implemented with redirects, so it's going to reload your app after the login session unless you've done something to put it in the background. There is no callback method since it's all done in redirects.

[2018-09-04 21:52] geerzo commented on #77
I'm not familiar with ngx-translator. Do you have sample code somewhere that reproduces the problem?

[2018-09-05 01:40] geerzo commented on #55
I'm closing this since it's old and no response in over a month. Feel free to reopen if there is still an issue.

[2018-09-05 01:40] #55 closed

[2018-09-05 01:41] geerzo commented on #14
I'm closing due to how old this is without a response from the original poster to the suggested fix.

[2018-09-05 01:41] #14 closed

[2018-09-05 01:41] geerzo commented on #17
Closing due to age and no response.

[2018-09-05 01:41] #17 closed

[2018-09-05 01:43] geerzo commented on #24
Is this still an issue? Or can we close the issue?

[2018-09-05 01:44] geerzo commented on #48
I'm going to close due to no continued discussion. Feel free to reopen if required.

[2018-09-05 01:44] #48 closed

[2018-09-05 01:46] geerzo commented on #54
That documentation are AAD settings, not client settings. They are global to your AAD instance. You have to configure them via PowerShell with these [commands](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-configurable-token-lifetimes#cmdlet-reference).

Since this isn't a client library issue I'm going to close the issue.

[2018-09-05 01:46] #54 closed

[2018-09-05 01:47] geerzo commented on #60
Closing due to lack of response.

[2018-09-05 01:47] #60 closed

[2018-09-05 01:48] geerzo commented on #61
Closing due to lack of response and it looking like a non-issue.

[2018-09-05 01:48] #61 closed

[2018-09-05 02:05] geerzo commented on #73
Good catch. I'll fix this.

[2018-09-05 19:14] geerzo commented on #73
This is fixed in ecf866607cd51b74727da38daba0b3c0d87a81ae

[2018-09-05 19:14] #73 closed

[2018-09-05 19:14] geerzo commented on #57
This is added in ecf866607cd51b74727da38daba0b3c0d87a81ae

[2018-09-05 19:14] #57 closed

[2018-09-05 19:16] geerzo commented on #79
Fixed the issue with the timer not starting after a fresh login. Fixed here ecf866607cd51b74727da38daba0b3c0d87a81ae

I also ran some tests and saw that my timer, using the example project, ran for over 24 hours and kept the token fresh.

[2018-09-06 05:02] Milad0207 commented on #36
How do i hardcode 1.0.15 library for adal-angular, the adal-angular4 is setup to use the 1.0.16 version

[2018-09-06 12:31] ursmeier-mercatus commented on #77
ngx-translator uses a httpLoader, e.g.
[code]

which is then provided in the module. This loads the translation file via a http-call to the localhost.

I could solve (or workaround?) the problem by configuring adal with anonnymousEndpoints, e..g

[code]

[2018-09-06 12:31] #77 closed

[2018-09-12 19:04] vandre opened #87 "Migrating from version 1.1.11"
We have an application that is currently using 1.1.11.  What changes are needed to migrate to a higher version?

Change log only indicates that 2.0.0. is a breaking version.

[2018-09-17 15:40] tsegato opened #88 "Token missing"
I followed this step by step:
http://www.digital-moves.eu/2018/07/19/authentication-with-azure-ad-angular-6-client-web-api/

I get authenticated, I can see the token in the adal object, and everything looks fine.

When I call:
this.httpClient.get("http://localhost:63126/api/values");

I get following in Fiddler:
GET http://localhost:63126/api/values HTTP/1.1
Host: localhost:63126
Connection: keep-

[2018-09-18 09:25] cbuttazoni opened #89 "Queryparams after login"
Hi,

I want to call a deep link with some query parameters (e.g. https://domain.com/postbox?somevalue=xyz). After login you will change the history so that I loose my query params. I figured out, that this will happen in adal.service.ts => handleWindowCallback() => LN 116: `window.history.replaceState('', '/', window.location.pathname)`
Could you please add `window.location.search`?

Thanks
Christ

[2018-09-18 13:19] kameelyan opened #90 "IE11/Edge - redirect issues"
In IE11/Edge, after logging in on the microsoft side, the redirect happens and the site gets stuck. The return URL looks like this:
https://{baseURL}/#id_token={token}&state={state}&session_state={session_state}

My config looks like:
`        const adalConfig = {
            instance: 'https://login.microsoftonline.com/',
            tenant: '{tenant}',
            clientId: '{clientID}',

[2018-09-18 16:53] kameelyan commented on #90
Manually updating to adal-angular@1.0.17 fixes the IE issue, but now creates an infinite loop with Chrome.

Is there a version of this repo that utilizes 1.0.17?

[2018-09-18 17:36] kameelyan commented on #90
Updating to version 1.0.13 fixed my issue.

[2018-09-18 17:36] #90 closed

[2018-09-18 17:37] kameelyan opened #91 "Adal Angular 1.0.15 to 1.0.17"
I noticed that this wrapper forces version 1.0.15 for adal-angular, are there any plans to update to 1.0.17?

[2018-09-26 16:05] PilotBob opened #92 "Basic Usage Steps"
Is there a list of basic usage steps? I tried to follow the sample, but my app is never going to the STS to get a login/tokin. I performed the following, what am I missing.

This is a angular6 app:

1. INstalled the package with NPM
2. Import AdalService, AdalGuard, AdalInterceptor into my module
3. Add AdalService, AdalGuard, AdalInterceptor for HTTP_INTECEPORTS to the module providers array
4. A

[2018-10-01 23:49] DanaEpp commented on #92
Have you looked at the example at https://github.com/benbaran/adal-angular6-example?

[2018-10-03 14:32] edleeman opened #93 "ERROR TypeError: "_this.context is null""
Hi

I'm getting `ERROR TypeError: "_this.context is null"` when hitting the auth-callback. I believe that `_this.context` is referring to `_this.adal`

My callback method
`  public completeAuthentication() {
    this._adal.handleWindowCallback();
    this._adal.getUser().subscribe(user => {
        console.log(user, 'user');
        this._user = user;
    });
  }`

Init is called from constructor

[2018-10-03 23:07] danwale commented on #79
Thanks for the fix, do we know when this will be pushed out to the npm package published on npm.js? The last published version is still version 3.0.13 so we're still seeing this issue.

[2018-10-03 23:09] benbaran commented on #79
Sorry, I missed this. I’ll try to publish tomorrow!

[2018-10-04 19:24] rahulraibit opened #94 "this.adalService.acquireToken method giving timeout error on first time login."
Hi I am facing one issue with the **this.adalService.acquireToken** method only during first time login. I am getting timeout error but after login if i will do page refresh then **this.adalService.acquireToken** method returning proper token.

`intercept(req: HttpRequest<any>, next: HttpHandler): Observable<HttpEvent<any>> | Observable<HttpSentEvent | HttpHeaderResponse
    | HttpProgressEvent |

[2018-10-04 20:10] uonai commented on #87
I'm having the same issue as well. Is there any documentation for migrating from 1.1.11 to the most recent version?

[2018-10-05 07:11] #93 closed

[2018-10-08 11:28] BKB503 opened #95 "acquireToken is getting null after logged in for 1st time and it gets for subsequent requests"
I'm using acquire token functionality to get access token and get data from web api end point, but sending the request for 1st time   acquire token is getting null and after second request it is getting the acquire token and works fine.

is there any work around for this or is this the bug ?

[2018-10-09 06:16] rahulraibit commented on #91
I don't know why this library is still using 1.0.15 version of adal angular. Please update to 1.0.17. This will solve acquire token issue during first time login because I have noticed in 1.0.17 version we have options to pass loadFrameTimeout which is not available for 1.0.15. This frameTimeout issue which is keep coming to many user because default LOADFRAME_TIMEOUT: '6000'.

[2018-10-09 09:13] BKB503 commented on #95
But it is not taking that long to make second request it was less than 6000 seconds and any idea when will be next release carried out? any work around mean while?

[2018-10-10 04:33] rahulraibit commented on #95
Hi, Let me first clarify that   Default LOADFRAME_TIMEOUT: '6000' is in ms not in second. [https://github.com/AzureAD/azure-activedirectory-library-for-js/wiki/Config-authentication-context](url)

For solving this issue I would suggest Please use another library.

[https://www.npmjs.com/package/adal-angular5](url)

[2018-10-15 12:42] ThomasPe opened #97 "Pass existing access token to login()"
I'm currently using this library to authenticate users inside an Office Add-In written in Angular.
Since with some newer Office apps you can make use of the single sing-on feature I was wondering if it's possible to somehow combine the two approaches.

My though was that I could maybe pass the token I receive from the Office JS SDK to the adal-angular4 library so I don't have to show the login scr

[2018-10-18 06:30] tsegato opened #98 "Failed to execute 'querySelector' on 'Document'"
I get follwoing error in Angular 6 on my callback page:
ERROR DOMException: Failed to execute 'querySelector' on 'Document': '#id_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Imk2bEdrM0ZaenhSY1ViMkMzbkVRN3N5SEpsWSIsImtpZCI6Imk2bEdrM0ZaenhSY1ViMkMzbkVRN3N5SEpsWSJ9.eyJhdWQiOiI0YmNjODE1Ni02NWI0LTQ5MTQtOTA1Yy1hZWNjM2U5MTk3ZjUiLCJpc3MiOiJodHRwczovL3N0cy53aW5kb3dzLm5l
However it seems I get the tok

[2018-10-19 17:10] KhaledSMQ opened #100 "Bug to handle resources access callback after login"
Hi, I tried to solve this issue with PR #99  but didn't work,

the actual problem is when you login you requested the resources like https://graph.microsoft.com
silent request fired inside iframe , then the coming back request actully its a login request since you don't have the access_token. handleWindowCallback field to identify it's a login but the callback registerd in renew callback array ```

[2018-10-23 10:00] iamvsaini opened #101 "Authentication issue with multiple apps having different client id in same tenant"
Hi @benbaran @stuarthallows @Garbanas @ollief87 @benbaran-journeycare ,
      I am facing an issue, I am using adal-angular6 for my angular 6 project and i have two more projects in .net which are having different apps within a same tenant. i am facing an issue that is while i am logging out from angular app, those another two apps is not getting logged out. i am using openidconnect and owin in my

[2018-10-23 10:04] iamvsaini commented on #101
Here is some screenshots of  my two different apps

this one in angular 6
![image](https://user-images.githubusercontent.com/34088137/47353113-18f8b580-d6d9-11e8-953b-3d63acc84175.png)

this one in .net mvc
![image](https://user-images.githubusercontent.com/34088137/47353022-d0d99300-d6d8-11e8-944b-aaf15e1313d2.png)

[2018-10-26 11:39] leonixyz commented on #100
I'm not sure I can understand 100% what you are saying, but AFAIK the whole flow is the following:

1. the client request the app, the browser loads the app and starts running
2. if the app cannot find any *id_token*, or if it is expired, then redirects the client to Azure
3. the user logs in - Azure sets a *session cookie*, then Azure sends the user back to the app carrying an *id_token*
4. the a

[2018-10-26 11:40] leonixyz commented on #94
Can you tell which version of `adal-angular` you have in your node_modules?

[2018-10-26 11:44] leonixyz commented on #91
The reason is that with the release of adal-angular 1.0.16  Microsoft changed the library API, but the version was still released as a "patch" ([see comment](https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/690#issuecomment-363071885))

[2018-10-27 18:38] KhaledSMQ commented on #100
@leonixyz
Thank you for your reply actually not yet reach this problem, Thank you for the information you give i was not aware about this problem you mention, back to my problem, After point 8 you mention Azure recognizes and return to client with valid access_token,
The library is not handling the response since the request started with renew status in other word if you look to the localStorage y

[2018-10-27 18:47] leonixyz commented on #100
I just discovered `@azure/msal-angular` which is an angular 4/5 package developed by Microsoft handling authentication and token management pretty smoothly. It does everything this library do, but is developed by microsoft, and for me is more reliable. I only got some problems understanding how to configure it, because of the `protectedResourceMap` array, which is not well documented, but i was ab

[2018-10-31 21:22] TracyGH commented on #61
Thank you, thank you, thank you!!!  I spent so many hours troubleshooting this issue.
@geerzo - Any chance we can get the documentation updated to reflect the correct issuer?
[https://docs.microsoft.com/en-us/azure/architecture/multitenant-identity/web-api](https://docs.microsoft.com/en-us/azure/architecture/multitenant-identity/web-api
)

[2018-11-02 13:47] pamidivenkat commented on #94
I'm also having same issue. I'm using 3.0.7

[2018-11-04 19:41] leonixyz commented on #94
@pamidivenkat what you refer to is surely the version of `adal-angular4`, but I want to know the verion version of `adal-angular` (note there is no trailing 4).

`adal-angular` is a dependency of `adal-angular4` and since there is an issue with newer versions, see issue #91 , i did a PR some time ago to fix it to 1.0.15

[2018-11-05 07:05] pamidivenkat commented on #94
adal-angular4@^3.0.7:
dependencies:    adal-angular "=1.0.15"

adal-angular@=1.0.15:
  version "1.0.15"

[2018-11-13 07:58] sandipbhavsar opened #102 "How to get refresh token using aquiretoken function ?"
I am using "adal-angular4": "3.0.16" version.

Here is my configuration ::

    private config = {
        tenant: environment.appId,     // tenantId.
        clientId: environment.clientId,
        redirectUri: environment.origin + '/auth-callback', // callback URI.
        postLogoutRedirectUri: environment.origin,
        cacheLocation: 'localStorage',
    };

What I need to pass to this.adalSe

[2018-11-14 03:45] chintandbhatt commented on #102
If you are using implicit-flow than you just need to pass your environment.clientId.

[2018-11-14 10:34] sandipbhavsar commented on #102
@chintandbhatt it will be helpfull if you can share sample

[2018-11-15 19:24] kollisankar opened #103 "How to set the response_type from 'id_token' to 'token'"
I am trying to get the token using the resource.

[2018-11-19 12:55] podliponochka commented on #24
Hi team,
I have the same issue as @aditya-padhi-kbl. for every rest call (api call) I'm using acquireToken() method.
Please, tell me how do i solve the issue related to reloading the app?
Thank you

[2018-11-27 14:09] pamidivenkat commented on #98
I'm also having same issue, any update on this?

[2018-11-28 16:21] jycaraujo opened #104 "ERROR TypeError: Cannot read property 'isCallback' of null"
Hi,
I implemented a login component with "@angular/cli": "~6.2.3" and "adal-angular4": "^3.0.16", it works fine in DEV/UAT environment but when I migrated to PROD I received the following error:

[code]
Does anyone know how to fix it? Thanks.

[2018-11-29 15:48] michaeltarleton commented on #92
@benbaran I wrote up some quick docs on setup since I've just implemented this. I tried to add it to your wiki but couldn't so I just added it to my fork. Let me know if it's something you want to incorporate in this project.

https://github.com/michaeltarleton/adal-angular4/wiki

[2018-11-29 15:52] michaeltarleton commented on #104
@jycaraujo Can you provide more context to your error? Where are you calling login?

Here is some of my working code:

[code]

[2018-11-29 15:55] michaeltarleton commented on #91
(bump) Any plans to upgrade the adal-angular dependency?

[2018-11-29 17:40] jycaraujo commented on #104
@michaeltarleton my working code is very similar to yours

[code]

and this is my login component:

[code]

[2018-11-30 00:52] benbaran commented on #91
I would love to, but the code doesn’t work with newer versions. I assume it’s a bug in my code, but I don’t have time at the moment to track it down.

Sent from my iPhone

[2018-11-30 00:54] benbaran commented on #92
Sure. I think there are some parts that could be simplified, but it generally looks good. I can give you access to the wiki to update it, I think...

Sent from my iPhone

[2018-12-06 09:39] ravivit9 opened #106 "Support for Angular 7"
HI,
At the moment I am using adal-angular6 version which is failing up on upgrading Angular to version 7.

I would like to know future plans to support Angular 7 version.

Thanks,
Ravindra.

[2018-12-10 16:14] ravivit9 commented on #106
Hi @benbaran, I uninstalled adal-angular6 and intstalled adal-angular4 and upgraded to angular 7 as suggested in the readme file.  I am not sure whether adal-angular4 supports http get, patch, post and delete methods similar to adal-angular6.

Thanks.

[2018-12-11 19:19] benbaran commented on #106
It uses the native HttpClient, so it will support all operations. Be sure to follow the adal-angular-6-example to get the HTTP_INTERCEPTORS set up properly to send the token with the requests.

[2018-12-11 20:44] rajsolanki73 commented on #82
after months and struggle we have made some progress. Found some solution from https://medium.com/the-new-control-plane/the-mystery-of-the-missing-adfs-jwt-claims-7658d9cdeaac We made changes in adal.js as suggested in that blog post. As soon as i use '&response_mode=form_post'  i get token which my custom claims but my app gives Cannot POST /. From chrome dev studio i can get toekn sent by ADFa a

[2018-12-12 11:55] ravivit9 commented on #106
Hi @benbaran, I am getting the following error after upgrading to angular 7 using adal-angular6.  That's the reason I am looking for another solution to sort this out.

<img width="1093" alt="screenshot 2018-12-12 at 11 54 10" src="https://user-images.githubusercontent.com/3435829/49868225-aec0df00-fe04-11e8-8f6e-8e5a03d69fa7.png">

[2018-12-12 16:22] benbaran commented on #106
That’s not my library, so I can’t speak to it, unfortunately. This one (adal-angular4) does work with Angular 7 though. The example project has been updated, and I tested it yesterday.

Sent from my iPhone

[2018-12-12 16:45] ravivit9 commented on #106
Hi, @benbaran, now I have uninstalled the adal-angular6 and using yours.  it's working fine.  Thanks for your support.

[2018-12-12 16:45] #106 closed

[2018-12-12 20:34] rajsolanki73 commented on #82
even microsoft doc https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/development/custom-id-tokens-in-ad-fs says to use  &response_mode=form_post. moment i use that it becomes POST method and i get 'Cannot POST /' error in browser. any help would be appreciated.

[2018-12-14 07:48] MarkusFalgenhauer opened #108 "Multiple Tokens for requests with .retry()"
Hi,

I am still on angular4 Version 1.1.11 but i think this will also affect newer Versions.
When i do a .retry() on the http request, with every retry a Bearer token is added to the Authorization Header.
So: first call is correct, second has: Authorization: Bearer ey......., Bearer ey.... in the header and so on, which leads to Unauthorized.

Is there a quick solution to avoid this behavior?

[2018-12-14 17:38] benbaran commented on #108
Yeah, this is definitely a bug. The intercepter needs to be modified to replace the header instead of appending to it. I’m out of town, but will take a look when I get back.

Or if you or anyone else wants to take a crack at it, I’ll gladly accept the contribution: )

Sent from my iPhone

[2018-12-17 01:19] geerzo commented on #82
@rajsolanki73 where do you add that? This library or adal.js?

[2018-12-17 01:30] geerzo commented on #108
I think this issue is fixed in the latest code as it uses "headers.set" which should replace, not append. There was a time earlier this year where it was append though.

[2018-12-17 01:35] geerzo commented on #97
@ThomasPe if the user is logged into the same AAD tenant as their O365 instance you shouldn't see the login screen as the token refresh would be behind the scenes.

[2018-12-17 01:38] benbaran commented on #108
I was able to reproduce. Maybe “set” doesn’t work as expected?

Sent from my iPhone

[2018-12-17 01:49] geerzo commented on #108
That is possible, or it's a complication with using clone at the same time? Docs seem to state it should work. Wonder if there is a bug in certain angular versions?

https://angular.io/api/http/Headers#set

I remember having this problem before but once it was changed from append to set it started working as designed (again, latest code, not 1.1.11). @benbaran do you have sample code you used to r

[2018-12-17 01:52] geerzo commented on #94
I have only seen this when a newer version of adal-angular is installed. What are the steps to reproduce?

[2018-12-17 01:59] rajsolanki73 commented on #82
I have tried both ways but i think burden is on adal library.

In this code i added extra query param as respond mode firm post.

I also tried adding directly to adal.js as suggested by roy ( medium blog ).

Moment i add for post my on prem adfs is sending token including claims as POST to my app. I somehow need to accept that post , extract token and probably route to different page in my app. As

[2018-12-17 02:10] geerzo commented on #82
@rajsolanki73 I just read the links you posted better. Those are referring to ADFS or Active Directory Federation Services which is something that gets installed on your Windows Server when you want to federate between a domain you run and Azure Active Directory. There is no way for an Angular app to accept a POST message from the server, which is what that flag does so it makes sense it doesn't w

[2018-12-17 06:45] ChitraTandabany opened #109 "Token is null in production build"
When i'm working with ng serve - adal works fine with same code when i tried in ng build --prod token is null . Is there is any way to solve this issue...

[2018-12-17 15:53] geerzo commented on #100
@leonixyz MSAL is based on AAD 2.0 interface and uses dynamics scopes vs permissions. So you no longer have to define permission in AAD when you register your application which is nice. The challenge is not all services support scopes yet and last time I tried, MSAL didn't work great against older APIs but maybe that has changed.

Bottom line, if you can convert to MSAL and all your APIs support i

[2018-12-17 17:34] KhaledSMQ commented on #100
I have tried most of API and i confirm it works very well I don't need to see it's necessary to replace with MSAL , the only problem as I mention before here https://github.com/benbaran/adal-angular4/blob/398e0fdd851f9dd5d4a796b9f1fec25f9a653be3/adal.service.ts#L82
apart from that the modification I made on my custom build works fine till now without any issue which related to access_token not for

[2018-12-17 18:38] geerzo commented on #97
It will check the session storage for an ID Token. As long as they have used your application once, it will be there in session storage to get the cached user. If the cached user is there it will try to refresh the login token automatically. As an alternative, you could automatically call login on your application load which, if they are logged into AAD, will automatically succeed.

[2018-12-17 18:42] geerzo commented on #100
@KhaledSMQ it turns out I wish I had understood what you proposed above better than I did a few hours ago...would have saved me some time. I'm just finishing up a fix that will support updating to adal.js 1.0.17 and the basis of it is what you described above...just took me a long time to figure out on my own :(

[2018-12-17 18:51] benbaran commented on #100
Thanks Chris! Let me know when it's ready and I'll update the NPM package. Do you think it should be published as a major version? Or is it safe to do as a patch?

[2018-12-17 19:05] KhaledSMQ commented on #100
@geerzo @benbaran Thank you for support,
Sorry for the way I explain my english poor. If you want I can create scenario to reproduce the issue.

[2018-12-17 20:02] geerzo commented on #100
@benbaran I made a commit to master. I did remove the `window.AuthenticationContext` variable so it could potentially break people but honestly people shouldn't be using that anyway. adal.js publishes a `window._adalInstance` which is the same thing. May want to review or have others review before publishing.

[2018-12-17 20:03] geerzo commented on #91
I found a fix I believe. I've committed a change (5e97bb57622dcb786f1f1da10674fa7c2409afaa) that I believe fixes this issue and allows us to use more recent adal.js libraries.

[2018-12-18 17:23] benbaran opened #110 "Gulp Watch No Longer Working"
@geerzo - I'm so sorry, but I had to update to Gulp version 4 to get NPM builds working again. It has a very different gulpfile syntax, so I had to rewrite it extensively. Unfortunately, your watch task no longer worked and I had to remove it. I hope it is not hard to recreate : (

[2018-12-18 17:24] benbaran commented on #108
Looks like I was looking at an older version. I'm thinking you are right this may be fixed.

[2018-12-18 18:03] benbaran commented on #110
@geerzo - I was able to add it back, I think. Give it a look and close this if it works for you.

[2018-12-18 18:04] geerzo commented on #91
This is now fixed as part of the 4.x release.

[2018-12-18 18:04] #91 closed

[2018-12-18 18:05] geerzo commented on #62
We now support adal-angular 1.0.17+ with the 4.x release of the library.

[2018-12-18 18:05] #62 closed

[2018-12-18 18:06] #71 closed

[2018-12-18 18:08] geerzo commented on #95
v4.x of this library now support adal.js 1.0.17+

[2018-12-18 18:08] #95 closed

[2018-12-18 18:11] geerzo commented on #94
Not sure...I can't seem to find a way to reproduce this. Have you compared what you do to the example application? What are the differences?

[2018-12-18 18:11] geerzo commented on #80
Version 4.x of this library now support adal.js 1.0.16+

[2018-12-18 18:11] #80 closed

[2018-12-18 18:54] benbaran commented on #110
Well then never mind : ) Seems to work.

[2018-12-18 18:54] #110 closed

[2018-12-18 19:02] benbaran commented on #101
I am not quite sure how authentication works in MVC. Are you using this library to authenticate in your MVC app, or some other mechanism?

[2018-12-18 19:20] geerzo commented on #24
@podliponochka can you post any sample code that demonstrates the problem?

[2018-12-18 19:39] benbaran commented on #74
I am able to access the interface as adal.Config. The following works for me and all properties are autocompleted by VSCode.

[code]

Or am I missing something?

[2018-12-18 19:40] benbaran commented on #92
I have added to link to the example project in the Wiki. I thing it goes through everything.

[2018-12-18 19:40] #92 closed

[2018-12-20 18:26] mikerains opened #111 "acquireToken does not make callback when token is expired"
in adal.js:
 - acquireToken.js does not have a call to this._saveItem(this.CONSTANTS.STORAGE.STATE_RENEW, expectedState, true);
 - acquireTokenRedirect does have this._saveItem(this.CONSTANTS.STORAGE.STATE_RENEW, expectedState, true);
 - Because it is not in storage, _matchState() doesn't find it and hence doesn't set reqest.REQUEST_TYPE = "RENEW_TOKEN" and doesn't set request.stateMatch to true.

[2018-12-21 18:35] geerzo commented on #111
Are you using 4.x? That version should have fixed this issue. You are correct match states fails but in the adal.js method getRequestInfo it has this fallback code which gets called.

[code]

[2019-01-02 20:39] dubcdr commented on #95
@geerzo

So do i set `loadFrmeTimeout` in my config object like so:

[code]

[2019-01-03 14:59] jogelin opened #112 "SUPPORT Bad redirection to login page"
Hello,

I configured `adal-angular4` in my app and I have an issue on my `storageaccount` on azure...this is working locally.

In fact, when I want to login, I am redirected to `https://login.microsoftonline.com/https://login.microsoftonline.com/[tenantID]/oauth2/authorize` I don't know why it is working in localhost but but in my storageaccount environment...

[2019-01-03 15:53] geerzo commented on #95
Hmmm, good question. I updated the library to 1.0.17 but we didn't add the additional config options. Can you do a pull request? Otherwise I'll try to get to it as I can.

[2019-01-04 06:18] jogelin commented on #112
Nevermind, I put a bad tenant in my env variables...:s

[2019-01-04 06:18] #112 closed

[2019-01-04 22:16] geerzo commented on #103
Can you give some more detail as to what your problem is?

[2019-01-04 22:18] geerzo commented on #101
Also remember that your session is only validated when you refresh a token. So it could be your second app isn't refreshing it's token frequently enough?

[2019-01-07 10:57] ddjansen opened #113 "Error: Cannot match any routes. URL Segment: 'id_token'"
I am using adal-angular4 v4.0.9 in an angular 7 app. I am using         this.adalService.handleWindowCallback(false) in my code to support the HashLocationStrategy. When I run my application I get the following two errors directly after logging in:

Error: Cannot match any routes. URL Segment: 'id_token' and
Error: Cannot match any routes. URL Segment: 'access_token'

Is this a known issue? Is the

[2019-01-24 19:06] dagrooms52 opened #115 "Add Auth Headers to PUT Request"
*Versions*
Node: 10.15.0
OS: win32 x64
Angular: 7.1.4
"adal-angular4": "^4.0.9",

*Expected Behavior*
Auth headers are added to PUT request
User can specify authentication for HTTP Verbs against configured Authenticated Routes

*Actual Behavior*
Auth headers are not added to PUT request
User cannot specify authentication for HTTP Verbs against configured Authenticated Routes

*Description*
I am tr

[2019-01-28 19:38] kameelyan commented on #30
@davemcmanus were you able to solve this, we're experiencing the same issue?

[2019-01-28 19:50] davemcmanus commented on #30
@kameelyan Unfortunately, because of that bug, we stopped using the library.

[2019-02-04 12:50] teslavitas commented on #22
@geerzo Code in the example works like a magic, how does it generate a token for the https://graph.microsoft.com/v1.0/me request?

[2019-02-05 09:01] Shigerua opened #116 "adal.init duplicates app-root"
When using adal.init (for example in the app.compontent.ts) the app-root gets duplicated (see screenshot). (Removing the line adal.init solves the duplicating issue)
[code]

![image](https://user-images.githubusercontent.com/46931375/52262490-e774c480-292c-11e9-84b7-3d74d656214d.png)

[2019-02-07 23:21] geerzo commented on #22
It uses the interceptor, so whenever an API call is made, it automatically reaches out to adal.js and gets the right token. (assuming config is setup properly)

[2019-02-11 00:33] DanaEpp opened #117 "Flipping from common tenant to a named tenant mid way through"
So I have been refactoring some code in an effort to make the experience when logging in support multi-tenant selection. So when I first start, I set the tenant to 'common' so I can get a general token on behalf of the user and then query to get a list of tenants.

I then change the tenant to the user selected tenant and try to acquire a new token specific to the tenant. How can I do that without

[2019-02-11 06:45] negberts commented on #117
Why not make the call to get the tenants unauthorized? You only have to get the client id, which is of no use to anyone not in the active directory of that tenant....

[2019-02-11 23:41] DanaEpp commented on #117
You can't. The call to https://management.azure.com always requires a bearer token. You can use the common endpoint to get a basic one that lets you query the tenant endpoint, using that to get the tenant guid before updating the management token so you can do real work in the tenant.

[2019-02-27 19:45] Tommyboy1567 commented on #88
You must create a class that implements HttpInterceptor where you will intercept and add the request header Authorization with the token.

[2019-02-27 19:50] Tommyboy1567 commented on #109
This is probably due to your specific application. You will need to provide steps to replication and a code example in order for us to reproduce the failure and provide assistance.

[2019-02-27 20:29] Tommyboy1567 commented on #101
@iamvsaini Are you trying to implement single sign out? If so, you will need to look at your Azure AD or ADFS, whichever you are using.

[2019-02-27 23:51] StuntThumper88 commented on #98
Was this resolved? I think this issue is why my token is null and userInfo.authenticated is false for me

[2019-03-09 23:47] jrmcdona opened #118 "Opening page in new tab triggers loging"
I can successfully login and navigate.  If I right click a link and open it in new tab,  it tries to login again.  The token is not expired it just doesn't seem to get the token when specifically opening in a new tab.

Any ideas?

[2019-03-11 05:40] terracott commented on #118
Hi. By default library use sessionStorage as token storage. It is not shared beetween tabs. You can set localStorage as cacheLocation parameter. It resolve this problem.

[2019-03-11 12:17] jrmcdona commented on #118
correct!

[2019-03-11 12:17] #118 closed

[2019-03-13 21:32] azche commented on #113
Any update on this? Im having the issue
Thanks

[2019-03-25 14:48] JACrazy commented on #116
What does your app.component.html look like? Perhaps you have <router-outlet> inserted twice?

[2019-04-02 15:59] dubcdr commented on #115
You can do something like this:

[code]

This will pass the request through the adal interceptor only if its a put request.

You then need to add this interceptor to your providers.

[2019-04-08 13:32] akshayantony commented on #106
Hi @benbaran, i checkedout the adal-angular4 code from [link](https://github.com/benbaran/adal-angular4) and performed the commands as in the read me file. **How can i run the code?** When i execute `ng serve` command, i am getting this **error** `The serve command requires to be run in an Angular project, but a project definition could not be found.`. It may be because your code doesnot have angu

[2019-04-10 07:47] satishpatro44 opened #119 "Not routing to expected route"
I have a webapp where login, logout can be done in any route '/' or '/browseIdea' or '/myIdea' basically in header.

Now, I want it to redirect from which ever route it is calling login() & logout().

postLogoutRedirectUri: window.location.href
But, on login() & logout(), it was always redirecting to 'https://localhost:4200'.

As, mainly because it is set in app.component.ts and it will init on re

[2019-04-10 10:48] msarvankmr opened #120 "automatic token renew redirect to redirecturi"
Hi,

When the automatic token renews the page redirecting to call back page. Due to this when the user is working they are loosing their work when the token renews and it ended up in redirecturi page.

I expect this should be silent token renews as we are using model window for edit function and we are losing the state of the page and unsaved data during automatic token renews.
And i could see win

[2019-04-12 01:32] jrmcdona opened #121 "Entire app getting built in the Adal Iframe"
Why would my entire app be getting built inside the iframe?  I a trying to track down some JavaScript issues and I can see when I am in the debugger of my app code, sometimes I am in the context of the iframe.  If you look at the attached pic you can see my app is replicated in the iframe and surely that is not correct.

![image](https://user-images.githubusercontent.com/4327773/56005977-b43a1300-

[2019-04-24 19:02] booboo123 commented on #120
msarvankmr , I noticed the same issue. The renew should be silent and not refresh the page like the previous version. What is your solution?

[2019-04-25 20:29] bryiantan commented on #120
I have the same issue, the app is using version 4.0.11. Rolled back to version 3.0.16, the token refresh worked without refreshing the page as before. I might try version 4.0.7 .. 4.0.10 when I have time :)

[2019-04-30 14:19] rjwijnen commented on #121
As far as i know the iframe is there to renew the token in the background.

[2019-04-30 18:19] MobesE46 opened #122 "Change to AuthenticationContext breaks other packages that depend on angular-adal"
I'm trying to implement both angular-adal4 and azure-maps-control, both of which depend on angular-adal.  I had angular-adal4 implemented and working fine, but when I tried to start using azure-maps-control package, it started throwing compile errors:

"Cannot use namespace 'AuthenticationContext' as a type."

These errors are on line 3189 and 3203 of \node_modules\azure-maps-control\typings\index

[2019-05-10 12:30] jamacia opened #123 ""Normal" authentication against back doesn't run"

[2019-05-10 12:34] jamacia commented on #123
When I try to authenticate against bbdd not against azure, the call gives an error because the adal-angular4 interceptor intercepts it and of course is not authenticated against azure. What can I do to have two optiones: authenticate against azure or authenticate against back (wich reads from bbdd). The error is Error: Cannot send request to registered endpoint if the user is not authenticated.
me

[2019-05-12 18:32] TheAifam5 opened #124 "Seamless token refresh"
Hey,
Currently I using the default way for authentication like:
[code]

The problem is, that the page after a minutes, refreshes the page completely and redirects to Microsoft, then back to the application.

Is there a better way to refresh the token without refreshing the whole page?

Regards,
TheAifam5

[2019-05-13 22:08] shatteredarm commented on #121
The token gets renews within the iframe, and the handleWindowCallback function detects the presence of an iframe and handles the renewal.

I have a workaround, but it requires a bit of work.
1) After initializing the AdalService, store the AuthenticationContext in a window variable:
(<any>window).adalContext = (<any>this.service).context;
2) Set the callback on the AuthenticationContext:
this.serv

[2019-05-15 14:42] rwoody commented on #124
You probably want `this.adalService.acquireToken();`. The `login()` method always redirects you.

[2019-05-15 17:29] TheAifam5 commented on #124
Lets say the user is already authenticated. The problem is, that after some time the page gets completely refreshed automatically. The question is, how can i avoid the refresh and do it silently?

[2019-05-17 02:35] rwoody commented on #124
I’m using an access token for services. They expire after an hour. Even after they expire, using ‘acquireToken()’ the access token is refreshed without a redirect.

That said, not all apps using this library need to use access tokens per the design (eg. only using an ID token for accessing the backend on the same host as the client side app). Typically with OAuth 2 flows, once the ID token (in OAu

[2019-05-17 07:47] TheAifam5 commented on #124
That works only if u have the refresh token. In SPA application, using the implicit flow authentication, the server does not sends the refresh token. In example of Microsoft ADFS, its disabled due to security issues. :/ Need to find an alternative.

[2019-05-22 06:29] jesuslpm commented on #124
@TheAifam5, I have the same issue, after an hour the page is refreshed. Did you find a working solution?

[2019-05-22 16:22] TheAifam5 commented on #124
@jesuslpm yes. You need to change your authentication flow. The Implicit Flow does not send the refresh token, because of security issues etc... Consider to use Authentication Code Grant Flow.

[2019-05-23 17:39] jesuslpm commented on #124
@TheAifam5 thanks. Please, let me know if you find that library. I would be much appreciated :-)

[2019-05-29 17:41] JACrazy commented on #124
The one solution that had worked for me is to use popup for sign in. The only problem I encountered though is if the active directory redirects the login to a custom organization Microsoft login page URL, everything breaks in Edge because Edge cant communicate between security zones. Edge support was a requirement for my situation so this didnt work. If just using the normal Microsoft login page U

[2019-06-03 17:20] sathyarajv commented on #120
@msarvankmr @bryiantan @benbaran  Any solution identified?

I have the same issue on the latest version.  Its always redirecting the user to the redirecturi mentioned on config.

[2019-06-04 06:49] SampatPenugonda commented on #24
I have faced with the same problem, for every few seconds, applications keep on refreshing. I have followed below steps

1. I have removed below line from the constructor , instead, I have written in ngOnInit() of app.components.ts.
    **this.adalService.init(environment.adalConfig);**

2. Added window.location.hash.indexOf('#') === -1 in ngOnit()

This solved my issue of app refreshing.

#Angula

[2019-06-25 16:56] ankitsalu opened #126 "Reply URL with query Params"
My reply URL specified in azure is https://Sales/PricingSearch

and i want to load the page from some other application like https://Sales/PricingSearch?price=10

If i am logged in, it validates this reply url i.e. https://Sales/PricingSearch?price=10, and let me use the application.
but in case I am not logged in, then instead of giving an option to login, i get the error reply url invalid.

Also

[2019-07-01 13:36] chandanch opened #127 "Customizing response type"
Is there a way to change the response_type from **_id_token_** to **_code_** or '_id_token code_'
Currently its set to: id_token.
https://login.microsoftonline.com/<tenant_id/oauth2/authorize?**response_type**=_**id_token**_&client_id=<client_id>%20&redirect_uri=http%3A%2F%2Flocalhost%3A4000%2Fauth%2Fcallback&state=360cce97-75f9-4f8e-a02c-32e1c4beabb4&client-request-id=fcd6c-0ceb-4746-aa45-93a8b8a

[2019-07-08 08:14] arnevdv commented on #124
Is there an update on this?

[2019-07-08 09:55] jesuslpm commented on #126
Reply url with parameters doesn't work. I suggest you to use sessionStorage to store the parameter and then use the last stored value to go to the desired route when Azure redirect to you reply Url page.

[2019-07-08 10:03] jesuslpm commented on #121
I have another work around. Set up a reply url to an independent html page, por example https://yourapp.com/logged-in.html. the code is something like this:

[code]

Note that you need to include adal.js and logged-in.html in your assets.

[2019-07-08 14:20] ankitsalu commented on #126
thanks for getting back. I have this link https://Sales/PricingSearch?price=10, in an EMAIL. So the email link directly takes me to the application, so won't have  a chance to store the values in sessionStorage before. Our user would like to access the link directly which would populate the page based on Query params...

If i am logged in, it validates this reply url i.e. https://Sales/PricingSear

[2019-07-11 09:54] lucamorelli opened #128 "cors problem trying to call secured web api"
Hi,
  I have an angular 7 app calling an aspnet (not core) application. the users logs correctly to azure ad from the client app, and make the call. I see that makes a few calls to azure validating the user, and after call the server api using cors. after this I see that the angular api makes another call to login.microsoftonline.com that dfails because of CORS

How can I solve this problem?

[2019-07-12 08:43] jesuslpm commented on #126
@ankitsalu. Yes you do have a chance to store the values in sessionStorage.

This is how I'm doing it:

I have an authentication guard that prevents navigating to protected routes in my application. If the user is not authenticated the authentication guard navigates to the login component, passing the current url to the login component as `returnUrl` parameter.

To figure out `returnUrl`, the logi

[2019-07-12 10:15] chrisedg87 commented on #13
Realise this is old but I'm having the same issue. My manifest looks similar to yours but I'm not getting the groups returned in my token. Is there something additional you have to configure in the adal config? How did you get around this?

[2019-07-12 19:43] ankitsalu commented on #126
@jesuslpm  - thanks a lot for your help. guard is the place which gives me a chance to store values in SessionStorage before adal comes into the picture. many thanks again.

[2019-07-12 19:43] #126 closed

[2019-08-02 19:33] JACrazy commented on #124
So I've figured out something that works, basically use acquireToken and if a token doesn't come back, sign the user in.
Most of this is ripped right from the logic of the adalService refreshLoginToken()

After the `this.adalService.handleWindowCallback();` do this:
[code]

Also you will need to set css in styles.css to hide the iframe
[code]

[2019-08-18 22:00] rangeranger commented on #124
Same problem here. Is there a way at least to refresh to the current URL? My app refresh to the main URL. We display the app on screens and it is making us change the URL every hour.

[2019-08-19 15:35] ADNewsom09 commented on #124
@rangeranger

@JACrazy's response worked for us.

[2019-09-06 14:11] anulal-s commented on #120
while excuting "[setupLoginTokenRefreshTimer](https://github.com/benbaran/adal-angular4/blob/61342c161fc8567b4a142461854ff6828e45d298/adal.service.ts#L242)" using "adalIdTokenFrame" iFrame, "login.microsoftonline.com" returns 302 redirect

[2019-09-18 13:35] yaseenshareef opened #131 "Infinite loop in Edge while authenticating"
Hi,

I have an Angular 6 application that uses adal-angular4. application goes into an infinite loop in edge for edge versions 42 +.

cache location is set to localstorage.  I suspect the issue is due to clearing of storage in the edge.

Appreciate any help!

[2019-09-19 18:31] CreativeAcer commented on #128
Hi, are both your applications running on Azure with cors setup correctly? Make sure to add your endpoint to the environment file:
endpoints: {
      'aspnet url': 'reg id aspnet'
    }

[2019-09-25 06:38] cannehag commented on #120
I have the same problem here. I can see the iframe when inspecting the page, but when the token is refreshed, it will reload the entire application and loosing state.

[2019-10-11 21:54] cindymarie commented on #48
I have the same issue. :(

[2019-10-13 17:26] douglasfernandesjr commented on #84
I`m facing the same issue, my app became really slow on the first access.

I tried the @jo-me solution, and  i had to change the if statement, for: "if (window.parent && window.parent._adalInstance)". It`s stop the Angular from starting, but still didn't solve the problem.

[2019-10-22 08:45] goiPP opened #133 "Specify OAuth2.0 API version"
Current API is not version 2:
https://login.microsoftonline.com/{tenant}/oauth2/authorize?

Is there an interface or a way to override the API url/ version?

[2019-10-24 04:11] gt-downunder commented on #120
Hoping to pop this back up to the top of the to-do list since it's still broken as of 4.0.12.  When a user is not authenticated, the app performs the login, refreshes the entire application page, and redirects to the redirectUri in the config rather than the page that was being viewed.

I noticed that the "adal.login.request" key in the browser storage holds the value of the page that was attempte

[2019-10-24 08:55] cannehag commented on #120
@benbaran Any update here?

[2019-11-04 11:54] AndrzejBojar opened #135 "Silent token renewal"
Is it possible to implement a silent token renewal using adal-angular4? I don't want the user to be interrupted with full page reloads when in the middle of filling out the form, but I struggle to find any evidence that it's possible in the documentation.

[2019-11-04 13:15] #135 closed

[2019-11-13 06:51] ShadAhm commented on #133
If you meant Microsoft identity platform (v2.0) then I think [this library](https://github.com/benbaran/msal-angular) was made for that. I myself haven't had a look at it.

But please clarify whether adal-angular4 is going to support v2.0 @benbaran

[2019-11-15 08:02] kov-hans opened #137 "acquireToken issue"
Íf acquireToken is called, or if a token is acquired by the lib when a method in an API is called, the angular application is restarted when the token response is received. Further more angular change detection does not work at this point, GUIs are not updated with the changes in the model. I tried to use the Router to navigate somethere else to get change detection working again, but that doesn't

[2019-11-21 17:06] Chappitono commented on #137
Hi @kov-hans , I had exactly the same problem (angular 7, same adal's version)
I was just :
1) Querying a profile using the graphApi and data from a webApi.
2) Both of them needed to acquire a token.

I tried a lots of things.
Nothing worked.

The game changer for me was to use the frameredirect.html method.
If you want to give it a try, here are the 4 steps below 👍

1. In the portal, add a new re

[2019-11-27 03:19] bryiantan commented on #137
Hi @Chappitono , can you post the complete implementation? I'm sure lots of people will greatly appreciate it.

[2019-11-27 03:22] bryiantan commented on #120
I'm shocked, not a lot of people report about it. Are we the few people that using this control?

[2019-11-27 03:29] benbaran commented on #120
I’m sorry. This is just a side project for me. Feel free to submit a pull request with fixes.

Sent from my iPhone

[2019-12-02 07:29] kov-hans commented on #137
Thank you very much for this solution! It solved all my issues! I don't know if there is a better solution but I created one frameRedirect for each of my environments (dev, test etc) since they have different configurations.

[2019-12-02 19:40] Chappitono commented on #137
@kov-hans very happy it worked for you. As asked by @bryiantan , I will very soon post the complete solution in a new project with 1 frameRedirect file. Will update the answer as soon as it is ready.

[2019-12-02 20:13] bryiantan commented on #137
Thank you @kov-hans

[2020-02-11 15:34] burns47 opened #139 "Token renewal operation failed due to timeout [Edge and "autologon"]"
I've run into a weird edge case that only happens under the following conditions:

1. Using Microsoft Edge
2. My user profile is logged in to Microsoft Edge (if I log out of edge and "Browse as Guest" the library works as expected.  Note that if I "Browse as Guest" I get redirected to the microsoft login page;  if not, it somehow logs me in automatically without a redirect).
3. I make an API call

[2020-02-21 16:06] Milan03 opened #140 "How to Use AdalGuard"
How is the provided guard meant to be used? If I add it, it blocks the guarded routes but doesn't redirect anywhere to login (app just sits at the base URL). Here is my routes.ts:

    export const routes = [

    {
        path: '',
        component: LayoutComponent,
        canActivate: [AdalGuard],
        children: [
            { path: '', redirectTo: 'home', pathMatch: 'full' },

[2020-02-22 01:55] benbaran commented on #140
You may just want to implement your own guard with that feature. Here is an example:

https://juristr.com/blog/2018/11/better-route-guard-redirects/

Sent from my iPhone

[2020-02-22 20:00] #140 closed

[2020-02-28 11:02] lukkon commented on #121
Does this have any nicer solution?
I get why I need iframe, but why should I have entire app built in it?

@shatteredarm where exactly should I place steps 1 and 2?

My code fails on this line:
`const callback = (<any>window.parent).callBackMappedToRenewStates[requestInfo.stateResponse] || adalContext.callback;`

[2020-02-28 12:42] lukkon commented on #121
@jesuslpm your solution did not help me. After being redirected back from logged-in.html, the iframe is still there and it contains entire app...

[2020-03-12 14:51] tteguayco commented on #42
Hi @benbaran. What if I need to use the feature of version 3.0.7:

* Added an automatic login token refresh feature. It will refresh tokens at application load if there is a valid sign-in token. It will also refresh the login token 5 minutes before it expires.

and my app is running with Angular 5? Is it still possible to use this feature of the library? I need it because I'm facing the problem st

[2020-03-31 16:17] ectalactus opened #141 "Error Inject AdalService with Angular 9"
Hi Everybody,

I have update my application to Angular 9.1 with  adal-angular4 4.0.12, And It's seem there is a problem when you want to inject AdalService in service or component constructor.

`ERROR Error: Uncaught (in promise): Error: This constructor is not compatible with Angular Dependency Injection because its dependency at index 0 of the parameter list is invalid.
This can happen if the de

[2020-03-31 17:27] ectalactus commented on #141
I have disable Ivy and it's work but it's not an option for the futur

[2020-04-01 22:24] VBobCat opened #142 "Issue with Angular 9"
For those willing to reproduce the problem, I have done only this:
1. created a new project with `ng new (myproject)`;
2. installed Angular Material with `ng add @angular/material` ;
3. created two components and its routes;
4. installed this library with `npm i adal-angular4`;
5. updated `app.module.ts` and `app-routing.module.ts` exactly as directed in this project's README.md;

This was enough

[2020-04-02 04:56] ectalactus commented on #142
[https://github.com/benbaran/adal-angular4/issues/141](url)

It's the same problem... for the moment disabled Ivy in tsconfig.json

  "angularCompilerOptions": {
    "fullTemplateTypeCheck": true,
    "strictInjectionParameters": true,
    **"enableIvy": false**
  }

[2020-04-02 13:09] VBobCat commented on #142
Thank you, @ectalactus, that worked for me, too.

[2020-04-02 13:26] martinvillysson commented on #141
It looks a bit similar to this issue https://github.com/angular/angular/issues/35788 and we were able to solve it with this fix: https://github.com/angular/angular/issues/35788#issuecomment-605631297

[2020-04-02 13:27] martinvillysson commented on #142
Might be related to this https://github.com/angular/angular/issues/35788 which can be solved with this: https://github.com/angular/angular/issues/35788#issuecomment-605631297

[2020-04-02 14:44] benbaran commented on #142
Hey all. I am working on updating this for angular 9. Stay tuned.

Sent from my iPhone

[2020-04-02 16:56] ectalactus commented on #142
Many Thanks Benbaran

[2020-04-02 18:54] benbaran commented on #142
I published version 9.0.0-beta.0 on npm if you would like to give it a try.

Sent from my iPhone

[2020-04-02 19:14] ectalactus commented on #142
It's work for me with version 9.0.0-beta.0.
But it's normal to have a dependency to "adal-angular" ? I have test with "adal-angular": "~1.0.17"

Regards

[2020-04-02 19:38] benbaran commented on #142
Yes, adal-angular is the normal Javascript library that this one wraps so
it will work with Angular. It used to be included as a direct dependency so
it would get installed automatically, but now they are recommending using
peer dependencies instead.

On Thu, Apr 2, 2020 at 2:15 PM ectalactus <notifications@github.com> wrote:

[2020-04-15 08:16] Nitin304 commented on #120
Hi All,

Is there any fix available for this?

[2020-04-15 08:19] Nitin304 commented on #131
Hi All,

Is there any solution available for this? Or we should change our AAD aunthetication library

[2020-04-15 10:32] shijinmk2006 commented on #47
Am facing the same issue while acquiring token. Using adal-angular4 : "4.0.12" .Still it generate the adal-angular:1.0.17 . How can i degrade to 1.0.15 at this time. While am using this Token timeout occurs eventually am not able to click on any links as i got unauthorized.In the token timeout there is a logic to set authenticated=false.

Any update on this?

[2020-05-06 13:31] mattmelton commented on #142
FWIW the module format also causes issues with Jest - I have to work around it via this hack: https://github.com/kulshekhar/ts-jest/issues/970#issuecomment-463636388

[2020-05-06 13:58] benbaran commented on #142
Thanks for letting me know. Have you tried the version 9 beta? It provides all the formats.

Sent from my iPhone

[2020-05-07 09:02] MsumanP commented on #131
I am also getting same error

[2020-05-14 14:44] johanroug commented on #142
looking foreward to a version 9 stable version. We are also upgrading our Angular applications, and ran in to the same issue

[2020-05-15 00:38] benbaran commented on #142
Did you try to test with the beta? If everything is working fine I can release a stable version.

Sent from my iPhone

[2020-05-15 14:07] VBobCat commented on #142
Hello, @benbaran! I've noticed that now I have to manually install adal-angular via npm after installing adal-angular4. Previous versions would get it as a dependency, I guess?

[2020-05-15 15:37] benbaran commented on #142
Yes. NPM now recommends adding it as a peer dependency instead. I will update the documentation.

Thanks!

Sent from my iPhone

[2020-05-15 19:17] VBobCat commented on #142
Thank you. I've found no more issues with Ivy after upgrading to version 9.0.0-beta.0 so I'm closing this issue.

[2020-05-15 19:17] #142 closed

[2020-06-23 14:57] ktanpure commented on #24
Hi All,
I am using adal-angular4 version - 4.0.12 library in my Angular 7 application for Azure AD Authentication.
I have also implemented this.adalService.acquireToken() method to Refresh Token silently 10 minutes before it expires. However, when the token refreshes it also reloads my entire application and redirects User to redirectUri. Also, this happens while User is working on some page. Is t

[2020-08-31 18:05] mchint01 opened #144 "Does this npm support Angular 10?"
I have read documentation , and it supports till Angular 8. Please update if anyone is aware of Angular 9 or 10 support.

[2020-09-07 15:22] mchint01 commented on #144
Using with Angular10 without any issues

[2020-09-28 00:11] danton721 commented on #104
Just had a similar issue, documenting for future users with this issue, fixed it by going back to my previous wotking code and noticing I forgot to init adal with the required configuration before using it.

Just add this line before everything happens, I have added in init of app.component.ts

`adalService.init(environment.adalConfig);`

Then check your environment for adalConfig:

`adalConfig: {

[2020-10-26 11:15] bpanhale commented on #122
Did you find any solution on this issue?

[2020-11-04 02:39] yepyao commented on #124
I got the same issue and investigate for some time. I think the root cause is the `user.authenticated` in `adal.service.ts` doesn't set to true in the 'adalIdTokenFrame' iframe.

### RCA
When the token expire and `refreshLoginToken()` be called, the adal-angular lib will insert an iframe with id 'adalIdTokenFrame' into the main page, which is hidden so you cannot see it. This iframe will be naviga

[2020-11-04 02:43] benbaran commented on #124
Thanks for looking into it! I don’t have as much time as I used to to look after this library. If you have a fix, please feel free to put in a pull request : )

Sent from my iPhone

[2020-12-04 20:15] #124 closed

[2021-03-17 03:49] argelj289 opened #147 "adal redirects to login page when opening in new tab"
I am having trouble with the application that uses adal-angular4

when I open the app in the new tab,

It asks again for my login although I already logged in.

here is the code I saw in the AppComponent.ts of the app

[code]

[2021-05-18 05:43] rahulkmurali opened #150 "Error: A silent sign-in request was sent but no user is signed in"
Getting below error when calling acquireToken method in chrome incognito window.

AADSTS50058: A silent sign-in request was sent but no user is signed in. The cookies used to represent the user's session were not sent in the request to Azure AD. This can happen if the user is using Internet Explorer or Edge, and the web app sending the silent sign-in request is in different IE security zone than t

[2021-06-02 10:12] mihaiovidiu commented on #147
Hi,
Had the same problem, just set `cacheLocation: "localStorage"`.
I found the answer here: https://github.com/benbaran/adal-angular4/issues/118